In [167]:
import pandas as pd
import plotly.graph_objects as go
import plotly.io as pio
import numpy as np
import seaborn as sns
import plotly.express as px
import matplotlib.ticker as mtick
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [168]:
with pd.io.stata.StataReader("../dta files/2012.dta", convert_categoricals=True) as rdr:
    cols = [c for c in rdr.variable_labels().keys() if c not in {"ISCO88", "SPISCO88"}]
    df_2012 = rdr.read(columns=cols)

with pd.io.stata.StataReader("../dta files/2002.dta", convert_categoricals=True) as rdr:
    cols = [c for c in rdr.variable_labels().keys() if c not in ["v241","v247"]]
    df_2002 = rdr.read(columns=cols)

df_2022 = pd.read_stata("../dta files/2022.dta")

In [169]:
df_2002_clean = pd.read_csv("../data/final_csv/2002_final.csv")
df_2012_clean = pd.read_csv("../data/final_csv/2012_final.csv")
df_2022_clean = pd.read_csv("../data/final_csv/2022_final.csv")

In [170]:
def normalize_column(series):
    """
    Normalize a numeric series to 0-1 range using min-max scaling.
    """
    return (series - series.min()) / (series.max() - series.min())

# Apply to eg_score columns
df_2002_clean['eg_score_norm'] = normalize_column(df_2002_clean['eg_score'])
df_2012_clean['eg_score_norm'] = normalize_column(df_2012_clean['eg_score'])
df_2022_clean['eg_score_norm'] = normalize_column(df_2022_clean['eg_score'])

 hh_work_hours_respondent:
    category: "behavior_time_use"
    years:
      "2002": {name: "v36", question: "Q9a"}
      "2012": {name: "v37", question: "Q16a"}
      "2022": {name: "v34", question: "Q15a"}
  hh_work_hours_partner:
    category: "behavior_time_use"
    years:
      "2002": {name: "v37", question: "Q9b"}
      "2012": {name: "v39", question: "Q17a"}
      "2022": {name: "v36", question: "Q16a"}
  task_laundry:
    category: "behavior_task_division"
    years:
      "2002": {name: "v30", question: "Q8a"}
      "2012": {name: "v42", question: "Q19a"}
      "2022": {name: "v39", question: "Q18a"}
  task_care_sick:
    category: "behavior_task_division"
    years:
      "2002": {name: "v32", question: "Q8c"}
      "2012": {name: "v44", question: "Q19c"}
      "2022": {name: "v41", question: "Q18c"}
  task_grocery:
    category: "behavior_task_division"
    years:
      "2002": {name: "v33", question: "Q8d"}
      "2012": {name: "v45", question: "Q19d"}
      "2022": {name: "v42", question: "Q18d"}
  task_cleaning:
    category: "behavior_task_division"
    years:
      "2002": {name: "v34", question: "Q8e"}
      "2012": {name: "v46", question: "Q19e"}
      "2022": {name: "v43", question: "Q18e"}
  task_meals:
    category: "behavior_task_division"
    years:
      "2002": {name: "v35", question: "Q8f"}
      "2012": {name: "v47", question: "Q19f"}
      "2022": {name: "v44", question: "Q18f"}
  task_fairness:
    category: "behavior_task_division"
    years:
      "2002": {name: "v38", question: "Q10"}
      "2012": {name: "v48", question: "Q20"}
      "2022": {name: "v45", question: "Q19"}

In [75]:
# Map original variable names to new mnemonic names across years
variable_mapping = {
    'hh_hrs_resp': {
        2002: 'v36',
        2012: 'V37',  # Fixed: uppercase V
        2022: 'v34'
    },
    'hh_hrs_partner': {
        2002: 'v37',
        2012: 'V39',  # Fixed: uppercase V
        2022: 'v36'
    },
    'task_laundry': {
        2002: 'v30',
        2012: 'V42',  # Fixed: uppercase V
        2022: 'v39'
    },
    'task_care_sick': {
        2002: 'v32',
        2012: 'V44',  # Fixed: uppercase V
        2022: 'v41'
    },
    'task_grocery': {
        2002: 'v33',
        2012: 'V45',  # Fixed: uppercase V
        2022: 'v42'
    },
    'task_cleaning': {
        2002: 'v34',
        2012: 'V46',  # Fixed: uppercase V
        2022: 'v43'
    },
    'task_meals': {
        2002: 'v35',
        2012: 'V47',  # Fixed: uppercase V
        2022: 'v44'
    },
    'task_fairness': {
        2002: 'v38',
        2012: 'V48',  # Fixed: uppercase V
        2022: 'v45'
    }
}

# Add variables to clean dataframes with new names
year_mapping = {
    2002: (df_2002, df_2002_clean),
    2012: (df_2012, df_2012_clean),
    2022: (df_2022, df_2022_clean)
}

for new_name, year_vars in variable_mapping.items():
    for year, old_name in year_vars.items():
        source_df, target_df = year_mapping[year]
        if old_name in source_df.columns:
            target_df[new_name] = source_df[old_name]

# Print categories for each variable across years
for new_name in variable_mapping.keys():
    print(f"\n{'='*60}")
    print(f"Variable: {new_name}")
    print(f"{'='*60}")
    
    for year in [2002, 2012, 2022]:
        print(f"\n--- {year} ---")
        target_df = year_mapping[year][1]
        if new_name in target_df.columns:
            cats = target_df[new_name].dropna().unique()
            if hasattr(target_df[new_name], 'cat'):
                print(target_df[new_name].cat.categories)
            else:
                print(f"Unique values (sample): {sorted(cats)[:10]}")
        else:
            print("Variable not found")

============================================================
Variable: hh_hrs_resp
============================================================

--- 2002 ---
Index([   '1 hour or less than 1 hr',                       '2 hrs',
                                 3.0,                           4.0,
                                 5.0,                           6.0,
                                 7.0,                           8.0,
                                 9.0,                          10.0,
                                11.0,                          12.0,
                                13.0,                          14.0,
                                15.0,                          16.0,
                                17.0,                          18.0,
                                19.0,                          20.0,
                                21.0,                          22.0,
                                23.0,                          24.0,
                                25.0,                          26.0,
                                27.0,                          28.0,
                                29.0,                          30.0,
                                31.0,                          32.0,
                                33.0,                          34.0,
                                35.0,                          36.0,
                                37.0,                          38.0,
                                39.0,                          40.0,
                                41.0,                          42.0,
                                43.0,                          44.0,
                                45.0,                          46.0,
                                47.0,                          48.0,
                                49.0,                          50.0,
                                51.0,                          52.0,
                                54.0,                          55.0,
                                56.0,                          57.0,
                                58.0,                          59.0,
                                60.0,                          62.0,
                                63.0,                          64.0,
                                65.0,                          66.0,
                                67.0,                          68.0,
                                70.0,                          71.0,
                                72.0,                          74.0,
                                75.0,                          76.0,
                                77.0,                          78.0,
                                80.0,                          82.0,
                                84.0,                          85.0,
                                86.0,                          87.0,
                                88.0,                          90.0,
                                91.0,                          94.0,
       '95 hrs a more,US:96+,BR:98+',               'None, no hour'],
      dtype='object')

--- 2012 ---
Index([   'None, no hours, does not apply',
              '1 hour or less than 1 hour',
                                 '2 hours',
                                 '3 hours',
                                         4,
                                         5,
                                         6,
                                         7,
                                         8,
                                         9,
                                        10,
                                        11,
                                        12,
                                        13,
                                        14,
                                        15,
                                        16,
                                        17,
                                        18,
                                        19,
                                        20,
                                        21,
                                        22,
                                        23,
                                        24,
                                        25,
                                        26,
                                        27,
                                        28,
                                        29,
                                        30,
                                        31,
                                        32,
                                        33,
                                        34,
                                        35,
                                        36,
                                        37,
                                        38,
                                        39,
                                        40,
                                        41,
                                        42,
                                        43,
                                        44,
                                        45,
                                        46,
                                        47,
                                        48,
                                        49,
                                        50,
                                        51,
                                        52,
                                        53,
                                        54,
                                        55,
                                        56,
                                        57,
                                        58,
                                        59,
                                        60,
                                        62,
                                        63,
                                        64,
                                        65,
                                        66,
                                        67,
                                        68,
                                        70,
                                        71,
                                        72,
                                        73,
                                        74,
                                        75,
                                        76,
                                        77,
                                        78,
                                        80,
                                        82,
                                        84,
                                        85,
                                        86,
                                        87,
                                        89,
                                        90,
                                        91,
                                        92,
                                        93,
                                        94,
                       '95 hours and more',
            'Don't know, BG: can't choose',
       'No answer, CA: no answer, refused'],
      dtype='object')

--- 2022 ---
Index(['-9. No answer; HR, IS: DK/NA; ES, HU: Can't Ch/NA; LT: NA/DK/Hard to say; PL: Hard to say/NA; TW: Can't choose',
                                                                                                    '0. None, no hours',
                                                                                                            '1. 1 hour',
                                                                                                                      2,
                                                                                                                      3,
                                                                                                                      4,
                                                                                                                      5,
                                                                                                                      6,
                                                                                                                      7,
                                                                                                                      8,
                                                                                                                      9,
                                                                                                                     10,
                                                                                                                     11,
                                                                                                                     12,
                                                                                                                     13,
                                                                                                                     14,
                                                                                                                     15,
                                                                                                                     16,
                                                                                                                     17,
                                                                                                                     18,
                                                                                                                     19,
                                                                                                                     20,
                                                                                                                     21,
                                                                                                                     22,
                                                                                                                     23,
                                                                                                                     24,
                                                                                                                     25,
                                                                                                                     26,
                                                                                                                     27,
                                                                                                                     28,
                                                                                                                     29,
                                                                                                                     30,
                                                                                                                     31,
                                                                                                                     32,
                                                                                                                     33,
                                                                                                                     34,
                                                                                                                     35,
                                                                                                                     36,
                                                                                                                     37,
                                                                                                                     38,
                                                                                                                     39,
                                                                                                                     40,
                                                                                                                     41,
                                                                                                                     42,
                                                                                                                     43,
                                                                                                                     44,
                                                                                                                     45,
                                                                                                                     46,
                                                                                                                     47,
                                                                                                                     48,
                                                                                                                     49,
                                                                                                                     50,
                                                                                                                     52,
                                                                                                                     53,
                                                                                                                     54,
                                                                                                                     55,
                                                                                                                     56,
                                                                                                                     58,
                                                                                                                     59,
                                                                                                                     60,
                                                                                                                     61,
                                                                                                                     62,
                                                                                                                     63,
                                                                                                                     64,
                                                                                                                     65,
                                                                                                                     66,
                                                                                                                     67,
                                                                                                                     68,
                                                                                                                     70,
                                                                                                                     71,
                                                                                                                     72,
                                                                                                                     73,
                                                                                                                     74,
                                                                                                                     75,
                                                                                                                     76,
                                                                                                                     78,
                                                                                                                     80,
                                                                                                                     82,
                                                                                                                     83,
                                                                                                                     84,
                                                                                                                     85,
                                                                                                                     86,
                                                                                                                     88,
                                                                                                                     90,
                                                                                                                     91,
                                                                                                                     94,
                                                                                                '95. 95 hours and more'],
      dtype='object')

============================================================
Variable: hh_hrs_partner
============================================================

--- 2002 ---
Index([   '1 hour or less than 1 hr',                       '2 hrs',
                                 3.0,                           4.0,
                                 5.0,                           6.0,
                                 7.0,                           8.0,
                                 9.0,                          10.0,
                                11.0,                          12.0,
                                13.0,                          14.0,
                                15.0,                          16.0,
                                17.0,                          18.0,
                                19.0,                          20.0,
                                21.0,                          22.0,
                                23.0,                          24.0,
                                25.0,                          26.0,
                                27.0,                          28.0,
                                29.0,                          30.0,
                                31.0,                          32.0,
                                33.0,                          34.0,
                                35.0,                          36.0,
                                37.0,                          38.0,
                                39.0,                          40.0,
                                41.0,                          42.0,
                                43.0,                          44.0,
                                45.0,                          46.0,
                                47.0,                          48.0,
                                49.0,                          50.0,
                                51.0,                          52.0,
                                54.0,                          55.0,
                                56.0,                          58.0,
                                59.0,                          60.0,

In [76]:
import re

# ==================== CLEANING HOUSEHOLD HOURS VARIABLES ====================
def clean_hours(val):
    """
    Convert household hours to numeric, handling various text formats.
    Returns None for missing/invalid values.
    """
    if pd.isna(val):
        return None
    
    val_str = str(val).lower()
    
    # Handle explicit missing values
    if any(x in val_str for x in ['no answer', "don't know", 'refused', 'dk', 'na', 'hard to say', "can't choose"]):
        return None
    
    # Handle "none, no hours"
    if 'none' in val_str or 'no hour' in val_str:
        return 0
    
    # Extract numeric value
    # Handle ranges like "95 hours and more"  95
    if '95' in val_str or '96+' in val_str or '98+' in val_str:
        return 95
    
    # Extract first number found
    match = re.search(r'\d+', val_str)
    if match:
        return int(match.group())
    
    return None

# Apply to household hours variables
for df in [df_2002_clean, df_2012_clean, df_2022_clean]:
    df['hh_hrs_resp'] = df['hh_hrs_resp'].apply(clean_hours)
    df['hh_hrs_partner'] = df['hh_hrs_partner'].apply(clean_hours)

print("Cleaned household hours variables")
print("\n2002 hh_hrs_resp range:", df_2002_clean['hh_hrs_resp'].min(), "-", df_2002_clean['hh_hrs_resp'].max())
print("2012 hh_hrs_resp range:", df_2012_clean['hh_hrs_resp'].min(), "-", df_2012_clean['hh_hrs_resp'].max())
print("2022 hh_hrs_resp range:", df_2022_clean['hh_hrs_resp'].min(), "-", df_2022_clean['hh_hrs_resp'].max())


# ==================== CLEANING TASK DIVISION VARIABLES ====================
# Standard categories for task division (ordered from most respondent to most partner)
TASK_CATEGORIES_ORDER = [
    "Always respondent",
    "Usually respondent", 
    "About equal/both equally",
    "Usually spouse/partner",
    "Always spouse/partner",
    "Third person",
    "NAP"
]

def clean_task_division(val):
    """
    Standardize task division categories across years.
    Returns standardized category string.
    """
    if pd.isna(val):
        return "NAP"
    
    val_str = str(val).lower()
    
    # Handle missing/refused/not applicable
    if any(x in val_str for x in ['no answer', "don't know", 'refused', 'not applicable']):
        return "NAP"
    
    # Check for NAP first (case-sensitive check for category name)
    if val_str == 'nap':
        return "NAP"
    
    # Third person (check before "always" patterns)
    if 'third person' in val_str or 'someone else' in val_str or 'other' in val_str:
        return "Third person"
    
    # Always respondent
    if ('always' in val_str and ('me' in val_str or 'i do' in val_str or 'respondent' in val_str)) or \
       val_str in ['always me', 'always i', 'always respondent']:
        return "Always respondent"
    
    # Always partner
    if ('always' in val_str and ('partner' in val_str or 'spouse' in val_str)) or \
       val_str in ['always spouse/partner', 'always partner', 'always spouse']:
        return "Always spouse/partner"
    
    # Usually respondent
    if ('usually' in val_str and ('me' in val_str or 'i do' in val_str or 'respondent' in val_str)) or \
       val_str in ['usually me', 'usually i', 'usually respondent']:
        return "Usually respondent"
    
    # Usually partner
    if ('usually' in val_str and ('partner' in val_str or 'spouse' in val_str)) or \
       val_str in ['usually spouse/partner', 'usually partner', 'usually spouse']:
        return "Usually spouse/partner"
    
    # About equal (check after specific "usually" patterns)
    if 'about equal' in val_str or 'both equal' in val_str or 'shared equal' in val_str or \
       val_str in ['about equal/both equally', 'shared equally', 'both do equally']:
        return "About equal/both equally"
    
    # If nothing matches, return NAP
    return "NAP"

# Apply to task division variables and convert to ordered categorical
task_vars = ['task_laundry', 'task_care_sick', 'task_grocery', 'task_cleaning', 'task_meals']

for df in [df_2002_clean, df_2012_clean, df_2022_clean]:
    for task in task_vars:
        # Apply cleaning function
        df[task] = df[task].apply(clean_task_division)
        # Convert to ordered categorical with consistent categories
        df[task] = pd.Categorical(df[task], categories=TASK_CATEGORIES_ORDER, ordered=True)

print("\n\nCleaned task division variables")
print("\nTask division categories (now uniform across all years):")
for task in task_vars:
    print(f"\n{task}:")
    print("2002:", df_2002_clean[task].cat.categories.tolist())
    print("2012:", df_2012_clean[task].cat.categories.tolist())
    print("2022:", df_2022_clean[task].cat.categories.tolist())
    print("  Value counts 2002:", df_2002_clean[task].value_counts(sort=False).to_dict())
    print("  Value counts 2012:", df_2012_clean[task].value_counts(sort=False).to_dict())
    print("  Value counts 2022:", df_2022_clean[task].value_counts(sort=False).to_dict())


# ==================== CLEANING TASK FAIRNESS VARIABLE ====================
FAIRNESS_CATEGORIES_ORDER = [
    "Much more than fair share",
    "A bit more than fair share",
    "Fair share",
    "A bit less than fair share",
    "Much less than fair share"
]

def clean_task_fairness(val):
    """
    Standardize task fairness perception categories.
    """
    if pd.isna(val):
        return None
    
    val_str = str(val).lower()
    
    # Handle missing/refused
    if any(x in val_str for x in ['no answer', "don't know", 'refused', 'nap']):
        return None
    
    # Map variations to standard categories
    if 'much more' in val_str or 'far more' in val_str:
        return "Much more than fair share"
    
    if ('more' in val_str or 'bit more' in val_str) and 'much' not in val_str:
        return "A bit more than fair share"
    
    if 'fair share' in val_str and 'more' not in val_str and 'less' not in val_str:
        return "Fair share"
    
    if ('less' in val_str or 'bit less' in val_str) and 'much' not in val_str:
        return "A bit less than fair share"
    
    if 'much less' in val_str or 'far less' in val_str:
        return "Much less than fair share"
    
    return None

# Apply to task fairness
for df in [df_2002_clean, df_2012_clean, df_2022_clean]:
    df['task_fairness'] = df['task_fairness'].apply(clean_task_fairness)

print("\n\nCleaned task fairness variable")
print("\ntask_fairness categories:")
print("2002:", df_2002_clean['task_fairness'].value_counts().index.tolist())
print("2012:", df_2012_clean['task_fairness'].value_counts().index.tolist())
print("2022:", df_2022_clean['task_fairness'].value_counts().index.tolist())

print("\n\n All variables cleaned and standardized!")

Cleaned household hours variables

2002 hh_hrs_resp range: 1 - 0
2012 hh_hrs_resp range: 0.0 - 95.0
2022 hh_hrs_resp range: 0.0 - 95.0


Cleaned task division variables

Task division categories (now uniform across all years):

task_laundry:
2002: ['Always respondent', 'Usually respondent', 'About equal/both equally', 'Usually spouse/partner', 'Always spouse/partner', 'Third person', 'NAP']
2012: ['Always respondent', 'Usually respondent', 'About equal/both equally', 'Usually spouse/partner', 'Always spouse/partner', 'Third person', 'NAP']
2022: ['Always respondent', 'Usually respondent', 'About equal/both equally', 'Usually spouse/partner', 'Always spouse/partner', 'Third person', 'NAP']
  Value counts 2002: {'Always respondent': 11121, 'Usually respondent': 4264, 'About equal/both equally': 3475, 'Usually spouse/partner': 4589, 'Always spouse/partner': 5840, 'Third person': 860, 'NAP': 0}
  Value counts 2012: {'Always respondent': 12763, 'Usually respondent': 5475, 'About equal/both equally': 4817, 'Usually spouse/partner': 6522, 'Always spouse/partner': 8008, 'Third person': 1370, 'NAP': 22799}
  Value counts 2022: {'Always respondent': 7135, 'Usually respondent': 5191, 'About equal/both equally': 4909, 'Usually spouse/partner': 4835, 'Always spouse/partner': 4803, 'Third person': 431, 'NAP': 18458}

task_care_sick:
2002: ['Always respondent', 'Usually respondent', 'About equal/both equally', 'Usually spouse/partner', 'Always spouse/partner', 'Third person', 'NAP']
2012: ['Always respondent', 'Usually respondent', 'About equal/both equally', 'Usually spouse/partner', 'Always spouse/partner', 'Third person', 'NAP']
2022: ['Always respondent', 'Usually respondent', 'About equal/both equally', 'Usually spouse/partner', 'Always spouse/partner', 'Third person', 'NAP']
  Value counts 2002: {'Always respondent': 5440, 'Usually respondent': 4339, 'About equal/both equally': 11949, 'Usually spouse/partner': 3334, 'Always spouse/partner': 2095, 'Third person': 635, 'NAP': 0}
  Value counts 2012: {'Always respondent': 5731, 'Usually respondent': 5637, 'About equal/both equally': 13674, 'Usually spouse/partner': 4557, 'Always spouse/partner': 2860, 'Third person': 1247, 'NAP': 28048}
  Value counts 2022: {'Always respondent': 2705, 'Usually respondent': 4491, 'About equal/both equally': 10970, 'Usually spouse/partner': 3196, 'Always spouse/partner': 1273, 'Third person': 734, 'NAP': 22393}

task_grocery:
2002: ['Always respondent', 'Usually respondent', 'About equal/both equally', 'Usually spouse/partner', 'Always spouse/partner', 'Third person', 'NAP']
2012: ['Always respondent', 'Usually respondent', 'About equal/both equally', 'Usually spouse/partner', 'Always spouse/partner', 'Third person', 'NAP']
2022: ['Always respondent', 'Usually respondent', 'About equal/both equally', 'Usually spouse/partner', 'Always spouse/partner', 'Third person', 'NAP']
  Value counts 2002: {'Always respondent': 6024, 'Usually respondent': 4978, 'About equal/both equally': 11734, 'Usually spouse/partner': 4316, 'Always spouse/partner': 2595, 'Third person': 455, 'NAP': 0}
  Value counts 2012: {'Always respondent': 6796, 'Usually respondent': 6704, 'About equal/both equally': 14989, 'Usually spouse/partner': 5850, 'Always spouse/partner': 3792, 'Third person': 894, 'NAP': 22729}
  Value counts 2022: {'Always respondent': 3505, 'Usually respondent': 5927, 'About equal/both equally': 11238, 'Usually spouse/partner': 4660, 'Always spouse/partner': 1698, 'Third person': 252, 'NAP': 18482}

task_cleaning:
2002: ['Always respondent', 'Usually respondent', 'About equal/both equally', 'Usually spouse/partner', 'Always spouse/partner', 'Third person', 'NAP']
2012: ['Always respondent', 'Usually respondent', 'About equal/both equally', 'Usually spouse/partner', 'Always spouse/partner', 'Third person', 'NAP']
2022: ['Always respondent', 'Usually respondent', 'About equal/both equally', 'Usually spouse/partner', 'Always spouse/partner', 'Third person', 'NAP']
  Value counts 2002: {'Always respondent': 7496, 'Usually respondent': 5364, 'About equal/both equally': 7360, 'Usually spouse/partner': 4699, 'Always spouse/partner': 3580, 'Third person': 1598, 'NAP': 0}
  Value counts 2012: {'Always respondent': 8792, 'Usually respondent': 7060, 'About equal/both equally': 8918, 'Usually spouse/partner': 7053, 'Always spouse/partner': 5048, 'Third person': 2125, 'NAP': 22758}
  Value counts 2022: {'Always respondent': 4287, 'Usually respondent': 6120, 'About equal/both equally': 8279, 'Usually spouse/partner': 5166, 'Always spouse/partner': 2247, 'Third person': 1169, 'NAP': 18494}

task_meals:
2002: ['Always respondent', 'Usually respondent', 'About equal/both equally', 'Usually spouse/partner', 'Always spouse/partner', 'Third person', 'NAP']
2012: ['Always respondent', 'Usually respondent', 'About equal/both equally', 'Usually spouse/partner', 'Always spouse/partner', 'Third person', 'NAP']
2022: ['Always respondent', 'Usually respondent', 'About equal/both equally', 'Usually spouse/partner', 'Always spouse/partner', 'Third person', 'NAP']
  Value counts 2002: {'Always respondent': 8380, 'Usually respondent': 5529, 'About equal/both equally': 5981, 'Usually spouse/partner': 5125, 'Always spouse/partner': 4327, 'Third person': 768, 'NAP': 0}
  Value counts 2012: {'Always respondent': 9935, 'Usually respondent': 7238, 'About equal/both equally': 7564, 'Usually spouse/partner': 7258, 'Always spouse/partner': 5999, 'Third person': 1043, 'NAP': 22717}
  Value counts 2022: {'Always respondent': 5137, 'Usually respondent': 6402, 'About equal/both equally': 6598, 'Usually spouse/partner': 5635, 'Always spouse/partner': 3154, 'Third person': 340, 'NAP': 18496}


Cleaned task fairness variable

task_fairness categories:
2002: ['Fair share', 'Much more than fair share', 'A bit more than fair share', 'A bit less than fair share', 'Much less than fair share']
2012: ['Fair share', 'Much more than fair share', 'A bit more than fair share', 'A bit less than fair share', 'Much less than fair share']
2022: ['Fair share', 'A bit more than fair share', 'Much more than fair share', 'A bit less than fair share', 'Much less than fair share']


 All variables cleaned and standardized!

In [171]:
df_mapping = pd.read_csv("../common_question_mapping.csv")

In [172]:
for index, row in df_mapping.iterrows():
    if row["COMMON_VAR"] in df_2022_clean.columns:
        print(row["COMMON_VAR"])

urban_rural
spouse_work_status
sex
code_higher_income
code_income_control
hh_wrk_hrs
work_status
marital
wrk_hrs
highest_education
age

In [173]:
import re

for index, row in df_mapping.iterrows():
    # Fix var_02: should start with lowercase "v"
    if row["COMMON_VAR"] not in df_2022_clean.columns:
        if pd.notna(row["var_02"]) and isinstance(row["var_02"], str):
            if re.match(r'^V\d', row["var_02"]):
                df_mapping.at[index, "var_02"] = 'v' + row["var_02"][1:]
        
        # Fix var_12: should start with uppercase "V"
        if pd.notna(row["var_12"]) and isinstance(row["var_12"], str):
            if re.match(r'^v\d', row["var_12"]):
                df_mapping.at[index, "var_12"] = 'V' + row["var_12"][1:]
        
        # Fix var_22: should start with lowercase "v"
        if pd.notna(row["var_22"]) and isinstance(row["var_22"], str):
            if re.match(r'^V\d', row["var_22"]):
                df_mapping.at[index, "var_22"] = 'v' + row["var_22"][1:]

print(" Variable names standardized:")
print("  - var_02 (2002): lowercase 'v'")
print("  - var_12 (2012): uppercase 'V'")
print("  - var_22 (2022): lowercase 'v'")

 Variable names standardized:
  - var_02 (2002): lowercase 'v'
  - var_12 (2012): uppercase 'V'
  - var_22 (2022): lowercase 'v'

In [174]:
# Add common variables to clean dataframes from raw dataframes
# Ensure all COMMON_VAR columns exist in all dataframes for consistency
for index, row in df_mapping.iterrows():
    common_var = row["COMMON_VAR"]
    
    # 2002
    if pd.notna(row["var_02"]) and row["var_02"] in df_2002.columns:
        df_2002_clean[common_var] = df_2002[row["var_02"]].values
    else:
        # Create column with NaN if variable doesn't exist for this year
        if common_var not in df_2002_clean.columns:
            df_2002_clean[common_var] = np.nan
    
    # 2012
    if pd.notna(row["var_12"]) and row["var_12"] in df_2012.columns:
        df_2012_clean[common_var] = df_2012[row["var_12"]].values
    else:
        # Create column with NaN if variable doesn't exist for this year
        if common_var not in df_2012_clean.columns:
            df_2012_clean[common_var] = np.nan
    
    # 2022
    if pd.notna(row["var_22"]) and row["var_22"] in df_2022.columns:
        df_2022_clean[common_var] = df_2022[row["var_22"]].values
    else:
        # Create column with NaN if variable doesn't exist for this year
        if common_var not in df_2022_clean.columns:
            df_2022_clean[common_var] = np.nan

print(f" Added {len(df_mapping)} common variables to all clean dataframes")
print(f"  2002: {df_2002_clean.shape}")
print(f"  2012: {df_2012_clean.shape}")
print(f"  2022: {df_2022_clean.shape}")

 Added 47 common variables to all clean dataframes
  2002: (46638, 69)
  2012: (61754, 69)
  2022: (45762, 69)

In [175]:
df_2002_clean.to_csv("../clean_csv/2002_clean.csv", index=False)
df_2012_clean.to_csv("../clean_csv/2012_clean.csv", index=False)
df_2022_clean.to_csv("../clean_csv/2022_clean.csv", index=False)

print(" Saved clean dataframes to ../clean_csv/")

 Saved clean dataframes to ../clean_csv/

In [176]:
# Read the saved clean CSVs

df_2002_clean = pd.read_csv("../clean_csv/2002_clean.csv")
print(f"2022: {df_2022_clean.shape}")

df_2012_clean = pd.read_csv("../clean_csv/2012_clean.csv")
print(f"2012: {df_2012_clean.shape}")

df_2022_clean = pd.read_csv("../clean_csv/2022_clean.csv")
print(f"2002: {df_2002_clean.shape}")

2022: (45762, 69)
2012: (61754, 69)
2002: (46638, 69)

In [183]:
cleaned_vars = [
    "urban_rural",
    "spouse_work_status",
    "sex",
    "code_higher_income",
    "code_income_control",
    "hh_wrk_hrs",
    "work_status",
    "marital",
    "wrk_hrs",
    "highest_education",
    "age",
]

In [189]:
dfs = [df_2002_clean, df_2012_clean, df_2022_clean]
year = [2002, 2012, 2022]
count = 0
for col_name in df_mapping["COMMON_VAR"]:
    if col_name not in cleaned_vars:
        count+=1
        print("="*20,col_name, "="*20)
        for df, yr in zip(dfs, year):
            print("="*20, f"df_{yr}_clean", "="*20)
            print(df[col_name].unique())

==================== TOPBOT ====================
==================== df_2002_clean ====================
['5.0' '8.0' '6.0' '4.0' '7.0' nan '3.0' 'Lowest' '2.0' '9.0' 'Highest']
==================== df_2012_clean ====================
['05' '07' '08' '03' '06' '04' 'Lowest, Bottom, 01' "Don't know" '02'
 'Highest, Top, 10' '09' 'No answer' 'Refused' 'Not available: GB,US']
==================== df_2022_clean ====================
['4. 04' '1. Lowest, Bottom, 01' '8. 08' '5. 05' '7. 07' '6. 06'
 "-8. Don't know" '10. Highest, Top, 10' '9. 09' '2. 02' '3. 03'
 '-9. No answer' '-1. CZ: Not available']
==================== SPWRKHRS ====================
==================== df_2002_clean ====================
[nan '40 hours' '37.0' '10 hours' '45.0' '20 hours' '12.0' '55.0' '38.0'
 '30 hours' '42.0' '48.0' '50 hours' '58.0' '44.0' '25.0' '19.0' '60.0'
 '28.0' '35.0' '39.0' '8.0' '15 hours' '22.0' '43.0' '3.0' '16.0' '72.0'
 '80.0' '24.0' '70.0' '65.0' '96 hours and more' '41.0' '11.0' '18.0'
 '17.0' '56.0' '4.0' '6.0' '36.0' '34.0' '75.0' '46.0' '54.0' '90.0'
 '32.0' '47.0' '2 hours' '33.0' '26.0' '52.0' '64.0' '13.0' '27.0' '23.0'
 '21.0' '84.0' '53.0' '66.0' '51.0' '29.0' '14.0' '49.0' '57.0' '63.0'
 '85.0' '67.0' '5 hours' '31.0' '61.0' '7.0' '76.0' '71.0' '9.0' '1 hour'
 '77.0' '68.0' '86.0' '62.0' '78.0' '95.0' '91.0' '82.0' '69.0' '88.0'
 '89.0' '74.0' '92.0' '94.0']
==================== df_2012_clean ====================
['50' '64' 'NAP (code 0,2,3 (AR,VE: 0,3) in SPWORK); not available: BG,GB'
 '20' '48' '30' '60' '25' '12' '24' '82' '44' '96 hours or more' '40' '28'
 "Don't know" '75' '45' '54' '70' '35' '42' '73' '56' '55' '43' '33' '49'
 '36' '72' '80' '5' '63' '84' '65' '10' '47' '46' '66' '78' '51' '18' '8'
 '37' 'No answer' '41' '90' '15' '16' '38' '26' '14' '9' '39' '4' '2' '22'
 '23' '53' '93' '19' '32' '3' '6' '13' '21' '34' '11' '7' '52' '58' '94'
 '91' '77' '67' '57' '62' '59' '85' '68' 'Refused; TW: time varies' '76'
 '74' '88' '69' '81' '27' '61' '31' '29' '17' '87' '95' 'One hour' '86'
 '79' '71' '89']
==================== df_2022_clean ====================
['-4. NAP (code -4, 2 or 3 in SPWORK)' '40' '45' '50' '65' '-9. No answer'
 '39' '26' '37' '20' '47' '44' '15' '60' '30' '80' '35' '38' '25' '54'
 '55' '42' '32' '33' '75' '36' '28' '34' '52' '41' '22' '18' '46' '10'
 '43' '24' '27' '53' '70' '23' '16' '48' '14' '21' '64' '84' '8' '56' '72'
 '5' '96. 96 hours or more' '12' '3' '17' '6' '4' '9' '2' '11' '13' '31'
 '1. One hour' '58' '29' '62' '77' '7' '66' '90' '19' '69' '91'
 "-8. Don't know" '68' '57' '89. 89 hours; US: 89 or more hours' '85' '63'
 '49' '59' '51' '78' '-6. IL: Invalid answers' '74' '95' '92' '76' '87'
 '61']
==================== C_ALPHAN ====================
==================== df_2002_clean ====================
['AU' 'DE-W' 'DE-E' 'GB-GBN' 'GB-NIR' 'US' 'AT' 'HU' 'IE' 'NL' 'NO' 'SE'
 'CZ' 'SI' 'PL' 'BG' 'RU' 'NZ' 'PH' 'IL' 'JP' 'ES' 'LV' 'SK' 'FR' 'CY'
 'PT' 'CL' 'DK' 'CH' 'BE-FLA' 'BR' 'FI' 'MX' 'TW']
==================== df_2012_clean ====================
['AR' 'AU' 'AT' 'BG' 'CA' 'CL' 'CN' 'TW' 'HR' 'CZ' 'DK' 'FI' 'FR' 'HU'
 'IS' 'IN' 'IE' 'IL' 'JP' 'KR' 'LV' 'LT' 'MX' 'NL' 'NO' 'PH' 'PL' 'RU'
 'SK' 'SI' 'ZA' 'ES' 'SE' 'CH' 'TR' 'US' 'VE' 'BE' 'DE' 'PT' 'GB-GBN']
==================== df_2022_clean ====================
['AT' 'AU' 'BG' 'CH' 'CZ' 'DE' 'DK' 'ES' 'FI' 'FR' 'GR' 'HR' 'HU' 'IL'
 'IN' 'IS' 'IT' 'JP' 'LT' 'NL' 'NO' 'NZ' 'PH' 'PL' 'RU' 'SE' 'SI' 'SK'
 'TH' 'TW' 'US' 'ZA']
==================== LIVWOMAR ====================
==================== df_2002_clean ====================
['Neither agree nor disagree' 'Agree' 'Disagree' 'Strongly disagree'
 'Strongly agree' nan]
==================== df_2012_clean ====================
['Agree' 'Disagree' 'Neither agree nor disagree' 'Strongly agree'
 'Strongly disagree' "Can't choose, CA:+NA, KR:DK,ref., NL:DK" 'No answer'
 'NAP: ES']
==================== df_2022_clean ====================
['1. Strongly agree' '2. Agree' '3. Neither agree nor disagree'
 "-8. Can't choose" '5. Strongly disagree' '4. Disagree' '-9. No answer']
==================== WWYKS ====================
==================== df_2002_clean ====================
['Work part-time' 'Work full-time' 'Stay at home' nan
 'TW:women shld decide']
==================== df_2012_clean ====================
['Work part-time' 'Stay at home' 'Work full-time'
 "Can't choose, CA:+NA, KR:DK,ref., NL:DK" 'No answer'
 'TW: women should decide']
==================== df_2022_clean ====================
['1. Work full-time' '2. Work part-time' '3. Stay at home'
 "-8. Can't choose" '-9. No answer; PL: Refused'
 '4. TW: Women should decide']
==================== WWYKUS ====================
==================== df_2002_clean ====================
['Stay at home' 'Work full-time' 'Work part-time' nan
 'TW:women shld decide']
==================== df_2012_clean ====================
['Stay at home' 'Work part-time' 'Work full-time'
 "Can't choose, CA:+NA, KR:DK,ref., NL:DK" 'No answer'
 'TW: women should decide']
==================== df_2022_clean ====================
['1. Work full-time' '2. Work part-time' '3. Stay at home'
 "-8. Can't choose" '-9. No answer; PL: Refused'
 '4. TW: Women should decide']
==================== SP_DEGREE ====================
==================== df_2002_clean ====================
['Lowest formal qualification' nan 'Above higher secondary level'
 'Higher secondary completed' 'Above lowest qualification'
 'University degree completed' 'No formal qualification']
==================== df_2012_clean ====================
['Lower level tertiary, first stage (also technical schools at a tertiary level)'
 'No formal education'
 'NAP, no partner (code 3 (AR,CZ,PT: 3,7; IS: 3,7,9) in PARTLIV; TW,US: 3-6 in MARITAL)'
 'Primary school'
 'Upper secondary (programs that allow entry to university'
 'Upper level tertiary (Master, Dr.)' "No answer, don't know, refused"
 'Lower secondary (secondary completed does not allow entry to university: obligatory school)'
 'Post secondary, non-tertiary (other upper secondary programs toward labour market or technical formation)'
 'Not available: AT,BG,CL,GB,IE,IL,LV,NO,PH,RU,ZA']
==================== df_2022_clean ====================
["-4. NAP (c. 3,-7 PARTLIV; IT, RU: c. 2,3,-7 PARTLIV; AT: c. 3-6 MARITAL); NO: sep. instruction 'If no partner, skip question"
 '4. Post secondary, non-tertiary' '8. PhD, Post tertiary specialization'
 '5. Short-cycle tertiary' '3. Upper secondary'
 '7. Upper level tertiary, MA'
 '-9. No answer, not classifiable; AT, ES, TW: DK/NA; CH: DK/ not codable; PL: Hard to say/NA'
 '2. Lower secondary' '6. Lower level tertiary, BA' '1. Primary education'
 '0. No (formal) education, incomplete primary'
 '-1. DK, NZ, ZA: Not available']
==================== MOMORFAF ====================
==================== df_2002_clean ====================
['Neither agree nor disagree' 'Strongly agree' 'Agree' 'Strongly disagree'
 'Disagree' nan]
==================== df_2012_clean ====================
[nan]
==================== df_2022_clean ====================
['3. Mothers and fathers are equally suited'
 '2. Mothers are somewhat better suited'
 '1. Mothers are much better suited' "-8. Can't choose"
 '4. Fathers are somewhat better suited'
 '5. Fathers are much better suited' '-9. No answer']
==================== MEWH ====================
==================== df_2002_clean ====================
['Neither agree nor disagree' 'Strongly disagree' 'Disagree' 'Agree'
 'Strongly agree' nan]
==================== df_2012_clean ====================
['Agree' 'Disagree' 'Neither agree nor disagree' 'Strongly agree'
 "Can't choose, CA:+NA, KR:DK,ref., NL:DK" 'Strongly disagree' 'No answer'
 'NAP: ES']
==================== df_2022_clean ====================
['5. Strongly disagree' '2. Agree' '3. Neither agree nor disagree'
 '1. Strongly agree' '4. Disagree' "-8. Can't choose" '-9. No answer']
==================== HHTODD ====================
==================== df_2002_clean ====================
[nan '1 child' '2 children' '3 children' '4 children' '5 children'
 '8 children' '6 children' '9 children' '7 children']
==================== df_2012_clean ====================
['No toddlers' '2 toddlers' 'One toddler' '3' 'No answer' '4' '5'
 'Refused' '6' '7' '10 toddlers' '8' '9'
 'NAP (Code 0 in HOMPOP); not available: TR']
==================== df_2022_clean ====================
['0. No children below [age of school entry]'
 '1. One child below [age of school entry]'
 '-9. No answer; AU: No answer and no children below 5'
 '2. Two children below [age of school entry]'
 '3. Three children below [age of school entry]'
 '4. Four children below [age of school entry]'
 '-4. NAP (Not a private household)'
 '5. Five children below [age of school entry]; SE: Five or more'
 '7. Seven children below [age of school entry]' '-1. NL: Not available'
 '6. Six children below [age of school entry]']
==================== HHCHILDR ====================
==================== df_2002_clean ====================
[nan '2 children' '1 child' '3 children' '4 children' '5 children'
 '6 children' '8 children' '7 children' '10 children' '9 children']
==================== df_2012_clean ====================
['One child' 'No children' '5' '2 children' '4' '3' '7' 'No answer'
 '21 children' '18' '8' '6' 'Refused' '10' '9' '12' '15' '14' '11'
 'NAP (Code 0 in HOMPOP); not available: TR']
==================== df_2022_clean ====================
['1. One child [school entry age] to 17'
 '0. No children [school entry age] to 17'
 '2. Two children [school entry age] to 17'
 '-9. No answer; AU: No answer and no children between 5 to 17'
 '3. Three children [school entry age] to 17'
 '4. Four children [school entry age] to 17'
 '5. Five children [school entry age] to 17; SE: Five or more'
 '7. Seven children [school entry age] to 17'
 '6. Six children [school entry age] to 17'
 '-4. NAP (Not a private household)'
 '9. Nine children [school entry age] to 17'
 '8. Eight children [school entry age] to 17']
==================== HHADULT ====================
==================== df_2002_clean ====================
[nan '2 persons' '1 person' '3 persons' '4 persons' '5 persons'
 '6 persons' '7 persons' '12 persons' '8 persons' '9 persons' '11 persons'
 '10 persons' '13,DK:13 or more persons' '15 persons' '17 persons']
==================== df_2012_clean ====================
[nan]
==================== df_2022_clean ====================
['1. One adult (only respondent)' '4. Four adults' '2. Two adults'
 '-9. No answer' '3. Three adults' '6. Six adults'
 '5. Five adults; SE: Five or more' '8. Eight adults' '7. Seven adults'
 '9. Nine adults' '-4. NAP (Not a private household)' '11. Eleven adults'
 '15. Fifteen adults' '22. Twenty-two adults' '10. Ten adults'
 '12. Twelve adults' '14. Fourteen adults' '16. Sixteen adults'
 '0. ZA: No adult in household']
==================== FAM_DIF ====================
==================== df_2002_clean ====================
['Once or twice a year' nan 'Several times a month' 'Never'
 'Several times a week']
==================== df_2012_clean ====================
['Never'
 "Doesn't apply: no job, no family responsibilities (HR,LT,MX,PL,RU,TW,VE: 2 or 3 in WORK)"
 'Several times a month' 'Once or twice' 'Several times a week'
 "Don't know, BG: can't choose, KR: don't know, refused" 'No answer']
==================== df_2022_clean ====================
['1. Several times a week' '4. Never' '3. Once or twice'
 '2. Several times a month'
 "-4. Doesn't apply/no job; TW: NAP (code 2,3,5,6,7 in MAINSTAT)"
 '-9. No answer; LT: NA/DK/Hard to say' "-8. DE, TW: Can't choose"
 '-1. DK: Not available']
==================== SHARE_HH ====================
==================== df_2002_clean ====================
['I do a bit more than my fair share' 'I do roughly my fair share'
 'I do a bit less than my fair share' 'I do much more than my fair share'
 nan 'I do much less than my fair share' 'PH: None of above']
==================== df_2012_clean ====================
['I do roughly my fair share' 'I do much more than my fair share'
 'NAP, no partner (3 (AT,BE,CH,CL,ES,IS,KR,NL,NO,PL,SK,US:2,3; AR,BG,CZ,PT:2,3,7;IL:3,7) in PARTLIV;TW:3-6 in MARITAL)'
 'I do a bit more than my fair share' 'I do a bit less than my fair share'
 "Don't know, BG: can't choose, KR: don't know, refused"
 'I do much less than my fair share' 'No answer']
==================== df_2022_clean ====================
['-4. NAP, no partn. or not liv. with part. (c.2,3,-7 PARTLIV; US: c.2 (if neither married nor cohabit. with partner), 3 PARTL'
 '2. I do a bit more than my fair share'
 '1. I do much more than my fair share' '3. I do roughly my fair share'
 "-9. No answer; AT, ES, HU, SI: Can't Ch/NA; IS: NA/DK; LT: NA/DK/Hard to say; PL: Hard to say/NA"
 '4. I do a bit less than my fair share'
 '5. I do much less than my fair share']
==================== HW_FULFIL ====================
==================== df_2002_clean ====================
['Neither agree nor disagree' 'Strongly agree' 'Agree' 'Disagree'
 'Strongly disagree' nan]
==================== df_2012_clean ====================
['Disagree' 'Agree' 'Neither agree nor disagree' 'Strongly agree'
 'Strongly disagree' "Can't choose, CA:+NA, KR:DK,ref., NL:DK" 'No answer'
 'NAP: ES']
==================== df_2022_clean ====================
['3. Neither agree nor disagree' '1. Strongly agree'
 '5. Strongly disagree' "-8. Can't choose" '4. Disagree' '2. Agree'
 '-9. No answer']
==================== WO_WANT ====================
==================== df_2002_clean ====================
['Neither agree nor disagree' 'Strongly disagree' 'Disagree' 'Agree'
 'Strongly agree' nan]
==================== df_2012_clean ====================
['Agree' 'Neither agree nor disagree' 'Strongly agree' 'Disagree'
 "Can't choose, CA:+NA, KR:DK,ref., NL:DK" 'Strongly disagree' 'No answer'
 'NAP: ES']
==================== df_2022_clean ====================
['5. Strongly disagree' '2. Agree' '1. Strongly agree' '4. Disagree'
 "-8. Can't choose" '3. Neither agree nor disagree' '-9. No answer']
==================== WW_FAM_SUFFER ====================
==================== df_2002_clean ====================
['Agree' 'Strongly disagree' 'Strongly agree' 'Neither agree nor disagree'
 'Disagree' nan]
==================== df_2012_clean ====================
['Agree' 'Strongly agree' 'Disagree' 'Neither agree nor disagree'
 'Strongly disagree' "Can't choose, CA:+NA, KR:DK,ref., NL:DK" 'No answer'
 'NAP: ES']
==================== df_2022_clean ====================
['5. Strongly disagree' '2. Agree' '1. Strongly agree' '4. Disagree'
 '3. Neither agree nor disagree' "-8. Can't choose" '-9. No answer']
==================== WW_CHILD_SUFFER ====================
==================== df_2002_clean ====================
['Agree' 'Strongly disagree' 'Neither agree nor disagree' nan
 'Strongly agree' 'Disagree']
==================== df_2012_clean ====================
['Agree' 'Neither agree nor disagree' 'Strongly agree' 'Disagree'
 'Strongly disagree' "Can't choose, CA:+NA, KR:DK,ref., NL:DK" 'No answer'
 'NAP: ES']
==================== df_2022_clean ====================
['5. Strongly disagree' '1. Strongly agree' '2. Agree' '4. Disagree'
 '3. Neither agree nor disagree' "-8. Can't choose" '-9. No answer']
==================== WW_WARM ====================
==================== df_2002_clean ====================
['Disagree' 'Strongly agree' 'Agree' 'Neither agree nor disagree'
 'Strongly disagree' nan]
==================== df_2012_clean ====================
['Disagree' 'Agree' 'Strongly agree' 'Neither agree nor disagree'
 'Strongly disagree' "Can't choose, CA:+NA, KR:DK,ref., NL:DK" 'No answer'
 'NAP: ES']
==================== df_2022_clean ====================
['1. Strongly agree' '4. Disagree' '5. Strongly disagree'
 '3. Neither agree nor disagree' "-8. Can't choose" '2. Agree'
 '-9. No answer']
==================== DIV_HH_COOK ====================
==================== df_2002_clean ====================
['Always me,PL:the woman' 'About equal o both together'
 'Usually my spouse,partner,PL:the man'
 'Always my spouse,partner,PL:the man' nan 'Usually me,PL:the woman'
 'Done by a third person']
==================== df_2012_clean ====================
['About equal or both together' 'Always me'
 'NAP, no partner (3 (AT,BE,CH,CL,ES,IS,KR,NL,NO,PL,SK,US:2,3; AR,BG,CZ,PT:2,3,7;IL:3,7) in PARTLIV;TW:3-6 in MARITAL)'
 'Usually my spouse/ partner' 'Is done by a third person'
 'Always my spouse/ partner' 'Usually me'
 "Can't choose, KR:DK,ref., NL:DK" 'No answer']
==================== df_2022_clean ====================
['-4. NAP, no partn. or not liv. with part. (c.2,3,-7 PARTLIV; US: c.2 (if neither married nor cohabit. with partner), 3 PARTL'
 '3. About equal or both together' '2. Usually me'
 '4. Usually my spouse/partner' '1. Always me'
 '5. Always my spouse/partner' "-8. Can't choose"
 '6. Is done by a third person'
 "-9. No answer; ES: Can't choose/ No answer; TW: NAP (e.g. never have meals together at home)"]
==================== DIV_HH_CLEAN ====================
==================== df_2002_clean ====================
['Usually me,PL:the woman' 'About equal o both together'
 'Usually my spouse,partner,PL:the man' 'Always me,PL:the woman'
 'Always my spouse,partner,PL:the man' nan 'Done by a third person']
==================== df_2012_clean ====================
['About equal or both together' 'Always me'
 'NAP, no partner (3 (AT,BE,CH,CL,ES,IS,KR,NL,NO,PL,SK,US:2,3; AR,BG,CZ,PT:2,3,7;IL:3,7) in PARTLIV;TW:3-6 in MARITAL)'
 'Usually my spouse/ partner' 'Is done by a third person'
 'Always my spouse/ partner' 'Usually me'
 "Can't choose, KR:DK,ref., NL:DK" 'No answer']
==================== df_2022_clean ====================
['-4. NAP, no partn. or not liv. with part. (c.2,3,-7 PARTLIV; US: c.2 (if neither married nor cohabit. with partner), 3 PARTL'
 '2. Usually me' '3. About equal or both together'
 '6. Is done by a third person' '1. Always me'
 '4. Usually my spouse/partner' '5. Always my spouse/partner'
 "-8. Can't choose" "-9. No answer; ES: Can't choose/ No answer"]
==================== DIV_HH_GROC ====================
==================== df_2002_clean ====================
['Always me,PL:the woman' 'About equal o both together'
 'Usually me,PL:the woman' 'Usually my spouse,partner,PL:the man' nan
 'Always my spouse,partner,PL:the man' 'Done by a third person']
==================== df_2012_clean ====================
['Always me'
 'NAP, no partner (3 (AT,BE,CH,CL,ES,IS,KR,NL,NO,PL,SK,US:2,3; AR,BG,CZ,PT:2,3,7;IL:3,7) in PARTLIV;TW:3-6 in MARITAL)'
 'About equal or both together' 'Usually me' 'Usually my spouse/ partner'
 'Always my spouse/ partner' 'Is done by a third person'
 "Can't choose, KR:DK,ref., NL:DK" 'No answer']
==================== df_2022_clean ====================
['-4. NAP, no partn. or not liv. with part. (c.2,3,-7 PARTLIV; US: c.2 (if neither married nor cohabit. with partner), 3 PARTL'
 '1. Always me' '4. Usually my spouse/partner'
 '3. About equal or both together' '2. Usually me' "-8. Can't choose"
 '5. Always my spouse/partner' '6. Is done by a third person'
 "-9. No answer; ES: Can't choose/ No answer"]
==================== DIV_HH_CARE ====================
==================== df_2002_clean ====================
['Always me,PL:the woman' 'About equal o both together'
 'Usually my spouse,partner,PL:the man' nan 'Usually me,PL:the woman'
 'Done by a third person' 'Always my spouse,partner,PL:the man']
==================== df_2012_clean ====================
['About equal or both together' 'Always me'
 'NAP, no partner (3 (AT,BE,CH,CL,ES,IS,KR,NL,NO,PL,SK,US:2,3; AR,BG,CZ,PT:2,3,7;IL:3,7) in PARTLIV;TW:3-6 in MARITAL)'
 'Always my spouse/ partner' "Can't choose, KR:DK,ref., NL:DK"
 'Usually me' 'Usually my spouse/ partner' 'Is done by a third person'
 'No answer']
==================== df_2022_clean ====================

In [187]:
count

36

In [191]:
import re

# ==================== CLEANING FUNCTIONS FOR ALL COMMON VARIABLES ====================

# 1. LIKERT SCALE (5-point: Strongly Agree to Strongly Disagree)
def clean_likert_5(val):
    """Standardize 5-point Likert scale responses."""
    if pd.isna(val):
        return None
    
    val_str = str(val).lower()
    
    # Handle missing values
    if any(x in val_str for x in ['no answer', "don't know", 'refused', 'nap', "can't choose", 'not available']):
        return None
    
    # Map to standard categories
    if 'strongly agree' in val_str or val_str.startswith('1.'):
        return "Strongly agree"
    if ('agree' in val_str and 'disagree' not in val_str and 'neither' not in val_str) or val_str.startswith('2.'):
        return "Agree"
    if 'neither' in val_str or val_str.startswith('3.'):
        return "Neither agree nor disagree"
    if ('disagree' in val_str and 'strongly' not in val_str) or val_str.startswith('4.'):
        return "Disagree"
    if 'strongly disagree' in val_str or val_str.startswith('5.'):
        return "Strongly disagree"
    
    return None

# 2. INCOME DECILE (TOPBOT)
def clean_income_decile(val):
    """Extract numeric decile from income scale (1-10)."""
    if pd.isna(val):
        return None
    
    val_str = str(val).lower()
    
    # Handle missing values
    if any(x in val_str for x in ["don't know", 'no answer', 'refused', 'not available']):
        return None
    
    # Handle text labels
    if 'lowest' in val_str or 'bottom' in val_str or '01' in val_str or val_str.startswith('1.'):
        return 1
    if 'highest' in val_str or 'top' in val_str or '10' in val_str:
        return 10
    
    # Extract numeric value
    match = re.search(r'(\d+)', val_str)
    if match:
        num = int(match.group(1))
        if 1 <= num <= 10:
            return num
    
    return None

# 3. WORK HOURS (SPWRKHRS, SP_HH_FAM, SP_HH, HH_FAM)
def clean_work_hours(val):
    """Extract numeric work hours (0-95+)."""
    if pd.isna(val):
        return None
    
    val_str = str(val).lower()
    
    # Handle missing/NAP
    if any(x in val_str for x in ['no answer', "don't know", 'refused', 'nap', 'not available']):
        return None
    
    # Handle "none"
    if 'none' in val_str or 'no hour' in val_str:
        return 0
    
    # Handle "one hour"
    if 'one hour' in val_str or val_str == '1. 1 hour':
        return 1
    
    # Handle 95+ 
    if '95' in val_str or '96' in val_str:
        return 95
    
    # Extract numeric value (handle floats too)
    match = re.search(r'(\d+\.?\d*)', val_str)
    if match:
        num = float(match.group(1))
        return int(num) if num <= 95 else 95
    
    return None

# 4. WORK PREFERENCE (WWYKS, WWYKUS)
def clean_work_preference(val):
    """Standardize work preference categories."""
    if pd.isna(val):
        return None
    
    val_str = str(val).lower()
    
    # Handle missing
    if any(x in val_str for x in ['no answer', "don't know", "can't choose"]):
        return None
    
    # Women should decide
    if 'women should decide' in val_str or 'women shld decide' in val_str or val_str.startswith('4.'):
        return "Women should decide"
    
    # Work full-time
    if 'full-time' in val_str or 'full time' in val_str or val_str.startswith('1.'):
        return "Work full-time"
    
    # Work part-time
    if 'part-time' in val_str or 'part time' in val_str or val_str.startswith('2.'):
        return "Work part-time"
    
    # Stay at home
    if 'stay at home' in val_str or val_str.startswith('3.'):
        return "Stay at home"
    
    return None

# 5. EDUCATION LEVEL (SP_DEGREE)
def clean_education(val):
    """Standardize education levels."""
    if pd.isna(val):
        return None
    
    val_str = str(val).lower()
    
    # Handle missing/NAP
    if any(x in val_str for x in ['no answer', "don't know", 'refused', 'nap', 'not available', 'not classifiable']):
        return None
    
    # Map to standardized categories
    if 'no formal' in val_str or 'no (formal) education' in val_str or val_str.startswith('0.'):
        return "No formal education"
    
    if 'primary' in val_str and 'incomplete' not in val_str or val_str.startswith('1.'):
        return "Primary"
    
    if 'lower secondary' in val_str or val_str.startswith('2.'):
        return "Lower secondary"
    
    if 'upper secondary' in val_str or 'higher secondary' in val_str or val_str.startswith('3.'):
        return "Upper secondary"
    
    if 'post secondary' in val_str or val_str.startswith('4.'):
        return "Post secondary"
    
    if ('short-cycle tertiary' in val_str or 'lower level tertiary' in val_str or 
        'above lowest qualification' in val_str or val_str.startswith('5.') or val_str.startswith('6.')):
        return "Tertiary (Bachelor level)"
    
    if ('upper level tertiary' in val_str or 'university degree' in val_str or 
        'above higher secondary' in val_str or val_str.startswith('7.')):
        return "Tertiary (Master level)"
    
    if 'phd' in val_str or 'post tertiary' in val_str or val_str.startswith('8.'):
        return "Tertiary (Doctoral level)"
    
    if 'lowest formal qualification' in val_str:
        return "Primary"
    
    return None

# 6. PARENT SUITABILITY (MOMORFAF)
def clean_parent_suit(val):
    """Standardize parent suitability scale."""
    if pd.isna(val):
        return None
    
    val_str = str(val).lower()
    
    # Handle missing
    if any(x in val_str for x in ['no answer', "don't know", "can't choose"]):
        return None
    
    # 2002 uses Likert, 2022 uses specific scale
    if 'strongly agree' in val_str or 'mothers and fathers are equally' in val_str or val_str.startswith('3.'):
        return "Equally suited"
    
    if ('agree' in val_str and 'strongly' not in val_str and 'neither' not in val_str and 'disagree' not in val_str) or \
       'mothers are somewhat better' in val_str or val_str.startswith('2.'):
        return "Mothers somewhat better"
    
    if 'mothers are much better' in val_str or val_str.startswith('1.'):
        return "Mothers much better"
    
    if 'fathers are somewhat better' in val_str or val_str.startswith('4.'):
        return "Fathers somewhat better"
    
    if 'strongly disagree' in val_str or 'fathers are much better' in val_str or val_str.startswith('5.'):
        return "Fathers much better"
    
    if 'neither' in val_str or 'disagree' in val_str:
        return "Equally suited"
    
    return None

# 7. HOUSEHOLD COUNTS (HHTODD, HHCHILDR, HHADULT, HOMPOP)
def clean_household_count(val):
    """Extract numeric count from household composition variables."""
    if pd.isna(val):
        return None
    
    val_str = str(val).lower()
    
    # Handle missing/NAP
    if any(x in val_str for x in ['no answer', 'refused', 'nap', 'not available']):
        return None
    
    # Handle "no children/adults/toddlers/persons"
    if any(x in val_str for x in ['no children', 'no toddlers', 'no adults', 'no persons']):
        return 0
    
    # Handle "one"
    if 'one child' in val_str or 'one toddler' in val_str or 'one adult' in val_str or 'one person' in val_str:
        return 1
    
    # Extract numeric value
    match = re.search(r'(\d+)', val_str)
    if match:
        return int(match.group(1))
    
    return None

# 8. FREQUENCY SCALE (FAM_DIF, DIFF_CONC_WORK, HH_TIRED, WORK_TIRED)
FREQUENCY_ORDER = [
    "Several times a week",
    "Several times a month",
    "Once or twice",
    "Never",
    "NAP"
]

def clean_frequency(val):
    """Standardize frequency scale."""
    if pd.isna(val):
        return "NAP"
    
    val_str = str(val).lower()
    
    # Handle missing/NAP
    if any(x in val_str for x in ['no answer', "don't know", 'refused', "doesn't apply", 'nap', 'not available', "can't choose"]):
        return "NAP"
    
    if 'several times a week' in val_str or val_str.startswith('1.'):
        return "Several times a week"
    
    if 'several times a month' in val_str or val_str.startswith('2.'):
        return "Several times a month"
    
    if 'once or twice' in val_str or val_str.startswith('3.'):
        return "Once or twice"
    
    if 'never' in val_str or val_str.startswith('4.'):
        return "Never"
    
    return "NAP"

# 9. TASK FAIRNESS SHARE (SHARE_HH)
FAIRNESS_SHARE_ORDER = [
    "Much more than fair share",
    "Bit more than fair share",
    "Fair share",
    "Bit less than fair share",
    "Much less than fair share",
    "NAP"
]

def clean_fairness_share(val):
    """Standardize task fairness perception."""
    if pd.isna(val):
        return "NAP"
    
    val_str = str(val).lower()
    
    # Handle missing/NAP
    if any(x in val_str for x in ['no answer', "don't know", 'refused', 'nap', "can't choose"]):
        return "NAP"
    
    if 'much more' in val_str or val_str.startswith('1.'):
        return "Much more than fair share"
    
    if ('bit more' in val_str or 'a bit more' in val_str) or val_str.startswith('2.'):
        return "Bit more than fair share"
    
    if 'roughly my fair share' in val_str or ('fair share' in val_str and 'more' not in val_str and 'less' not in val_str) or val_str.startswith('3.'):
        return "Fair share"
    
    if ('bit less' in val_str or 'a bit less' in val_str) or val_str.startswith('4.'):
        return "Bit less than fair share"
    
    if 'much less' in val_str or val_str.startswith('5.'):
        return "Much less than fair share"
    
    return "NAP"

# 10. TASK DIVISION (DIV_HH_* variables)
TASK_DIV_ORDER = [
    "Always respondent",
    "Usually respondent",
    "About equal",
    "Usually partner",
    "Always partner",
    "Third person",
    "NAP"
]

def clean_task_div(val):
    """Standardize task division categories."""
    if pd.isna(val):
        return "NAP"
    
    val_str = str(val).lower()
    
    # Handle missing/NAP
    if any(x in val_str for x in ['no answer', "don't know", 'refused', 'nap', "can't choose"]):
        return "NAP"
    
    # Third person first
    if 'third person' in val_str or val_str.startswith('6.'):
        return "Third person"
    
    # Always respondent/me
    if ('always me' in val_str or 'always respondent' in val_str) or val_str.startswith('1.'):
        return "Always respondent"
    
    # Usually respondent/me
    if ('usually me' in val_str or 'usually respondent' in val_str) or val_str.startswith('2.'):
        return "Usually respondent"
    
    # About equal
    if 'about equal' in val_str or 'both together' in val_str or 'both equally' in val_str or val_str.startswith('3.'):
        return "About equal"
    
    # Usually partner
    if ('usually' in val_str and ('spouse' in val_str or 'partner' in val_str)) or val_str.startswith('4.'):
        return "Usually partner"
    
    # Always partner
    if ('always' in val_str and ('spouse' in val_str or 'partner' in val_str)) or val_str.startswith('5.'):
        return "Always partner"
    
    return "NAP"

# 11. HAPPINESS SCALE (LIFE_HAP)
HAPPINESS_ORDER = [
    "Completely happy",
    "Very happy",
    "Fairly happy",
    "Neither happy nor unhappy",
    "Fairly unhappy",
    "Very unhappy",
    "Completely unhappy"
]

def clean_happiness(val):
    """Standardize happiness scale."""
    if pd.isna(val):
        return None
    
    val_str = str(val).lower()
    
    # Handle missing
    if any(x in val_str for x in ['no answer', "don't know", "can't choose"]):
        return None
    
    if 'completely happy' in val_str or val_str.startswith('1.'):
        return "Completely happy"
    if 'very happy' in val_str or val_str.startswith('2.'):
        return "Very happy"
    if 'fairly happy' in val_str or val_str.startswith('3.'):
        return "Fairly happy"
    if 'neither' in val_str or val_str.startswith('4.'):
        return "Neither happy nor unhappy"
    if 'fairly unhappy' in val_str or val_str.startswith('5.'):
        return "Fairly unhappy"
    if 'very unhappy' in val_str or val_str.startswith('6.'):
        return "Very unhappy"
    if 'completely unhappy' in val_str or val_str.startswith('7.'):
        return "Completely unhappy"
    
    return None

# 12. WEEKEND DECISION (HH_WEEKEND)
def clean_weekend_decision(val):
    """Standardize weekend activity decision variable."""
    if pd.isna(val):
        return "NAP"
    
    val_str = str(val).lower()
    
    # Handle missing/NAP
    if any(x in val_str for x in ['no answer', "don't know", 'refused', 'nap', "can't choose"]):
        return "NAP"
    
    # Map to task division categories for consistency
    if 'always me' in val_str or 'mostly me' in val_str or val_str.startswith('1.'):
        return "Always respondent"
    
    if 'usually me' in val_str or val_str.startswith('2.'):
        return "Usually respondent"
    
    if 'we decide together' in val_str or 'about equal' in val_str or 'both together' in val_str or val_str.startswith('3.'):
        return "About equal"
    
    if ('usually' in val_str and ('spouse' in val_str or 'partner' in val_str)) or val_str.startswith('4.'):
        return "Usually partner"
    
    if ('always' in val_str and ('spouse' in val_str or 'partner' in val_str)) or 'mostly my spouse' in val_str or val_str.startswith('5.'):
        return "Always partner"
    
    if 'third person' in val_str or 'someone else' in val_str or val_str.startswith('6.'):
        return "Third person"
    
    if 'sometimes' in val_str:
        return "About equal"
    
    return "NAP"

# 13. COHABITATION (COHAB)
def clean_cohab(val):
    """Standardize cohabitation status."""
    if pd.isna(val):
        return None
    
    val_str = str(val).lower()
    
    # Handle missing
    if any(x in val_str for x in ['no answer', 'refused', 'not available']):
        return None
    
    if 'yes' in val_str and 'same household' in val_str or val_str.startswith('1.'):
        return "Partner, same household"
    
    if 'yes' in val_str and "don't live" in val_str or val_str.startswith('2.'):
        return "Partner, different household"
    
    if 'no partner' in val_str or val_str.startswith('3.'):
        return "No partner"
    
    # Legacy coding
    if val_str == 'yes':
        return "Partner, same household"
    if val_str == 'no':
        return "No partner"
    
    return None

# 14. COUNTRY CODE (C_ALPHAN)
def clean_country(val):
    """Extract standardized country code."""
    if pd.isna(val):
        return None
    
    val_str = str(val).upper()
    
    # Extract 2-letter ISO code at start or after dash
    match = re.match(r'(\d+\.\s*)?([A-Z]{2})', val_str)
    if match:
        return match.group(2)
    
    return val_str[:2] if len(val_str) >= 2 else None

print(" Defined cleaning functions for all common variables")
print("\nFunction categories:")
print("  - Likert scales (5-point)")
print("  - Income deciles")
print("  - Work hours")
print("  - Work preferences")
print("  - Education levels")
print("  - Parent suitability")
print("  - Household counts")
print("  - Frequency scales")
print("  - Task fairness")
print("  - Task division")
print("  - Happiness scale")
print("  - Weekend decisions")
print("  - Cohabitation status")
print("  - Country codes")

 Defined cleaning functions for all common variables

Function categories:
  - Likert scales (5-point)
  - Income deciles
  - Work hours
  - Work preferences
  - Education levels
  - Parent suitability
  - Household counts
  - Frequency scales
  - Task fairness
  - Task division
  - Happiness scale
  - Weekend decisions
  - Cohabitation status
  - Country codes

In [192]:
# ==================== APPLY CLEANING TO ALL VARIABLES ====================

# Variable mapping: column_name -> cleaning_function
cleaning_map = {
    # Income decile
    'TOPBOT': clean_income_decile,
    
    # Work hours
    'SPWRKHRS': clean_work_hours,
    'SP_HH_FAM': clean_work_hours,
    'SP_HH': clean_work_hours,
    'HH_FAM': clean_work_hours,
    
    # Work preferences
    'WWYKS': clean_work_preference,
    'WWYKUS': clean_work_preference,
    
    # Education
    'SP_DEGREE': clean_education,
    
    # Parent suitability
    'MOMORFAF': clean_parent_suit,
    
    # Household counts
    'HHTODD': clean_household_count,
    'HHCHILDR': clean_household_count,
    'HHADULT': clean_household_count,
    'HOMPOP': clean_household_count,
    
    # Likert scales
    'LIVWOMAR': clean_likert_5,
    'MEWH': clean_likert_5,
    'HW_FULFIL': clean_likert_5,
    'WO_WANT': clean_likert_5,
    'WW_FAM_SUFFER': clean_likert_5,
    'WW_CHILD_SUFFER': clean_likert_5,
    'WW_WARM': clean_likert_5,
    
    # Frequency scales
    'FAM_DIF': clean_frequency,
    'DIFF_CONC_WORK': clean_frequency,
    'HH_TIRED': clean_frequency,
    'WORK_TIRED': clean_frequency,
    
    # Task fairness share
    'SHARE_HH': clean_fairness_share,
    
    # Task division
    'DIV_HH_COOK': clean_task_div,
    'DIV_HH_CLEAN': clean_task_div,
    'DIV_HH_GROC': clean_task_div,
    'DIV_HH_CARE': clean_task_div,
    'DIV_HH_LAUND': clean_task_div,
    'HH_WEEKEND': clean_weekend_decision,
    
    # Happiness
    'LIFE_HAP': clean_happiness,
    
    # Cohabitation
    'COHAB': clean_cohab,
    
    # Country
    'C_ALPHAN': clean_country,
}

# Apply cleaning functions to all dataframes
for col_name, clean_func in cleaning_map.items():
    for df in [df_2002_clean, df_2012_clean, df_2022_clean]:
        if col_name in df.columns:
            df[col_name] = df[col_name].apply(clean_func)

print(f" Applied cleaning to {len(cleaning_map)} variables across all years")

# Convert categorical variables to ordered categories where appropriate
categorical_mappings = {
    'frequency': {
        'columns': ['FAM_DIF', 'DIFF_CONC_WORK', 'HH_TIRED', 'WORK_TIRED'],
        'order': FREQUENCY_ORDER
    },
    'task_division': {
        'columns': ['DIV_HH_COOK', 'DIV_HH_CLEAN', 'DIV_HH_GROC', 'DIV_HH_CARE', 'DIV_HH_LAUND', 'HH_WEEKEND'],
        'order': TASK_DIV_ORDER
    },
    'fairness_share': {
        'columns': ['SHARE_HH'],
        'order': FAIRNESS_SHARE_ORDER
    },
    'happiness': {
        'columns': ['LIFE_HAP'],
        'order': HAPPINESS_ORDER
    }
}

for cat_type, info in categorical_mappings.items():
    for col in info['columns']:
        for df in [df_2002_clean, df_2012_clean, df_2022_clean]:
            if col in df.columns:
                df[col] = pd.Categorical(df[col], categories=info['order'], ordered=True)

print(f" Converted {sum(len(v['columns']) for v in categorical_mappings.values())} variables to ordered categorical")

# Display sample of cleaned data
print("\n" + "="*80)
print("SAMPLE OF CLEANED DATA")
print("="*80)

sample_vars = ['TOPBOT', 'SPWRKHRS', 'LIVWOMAR', 'WWYKS', 'SP_DEGREE', 'FAM_DIF', 'SHARE_HH', 'DIV_HH_COOK', 'LIFE_HAP', 'COHAB']
for var in sample_vars:
    if var in df_2022_clean.columns:
        print(f"\n{var}:")
        print(f"  2002: {df_2002_clean[var].value_counts().head(3).to_dict() if var in df_2002_clean.columns else 'N/A'}")
        print(f"  2012: {df_2012_clean[var].value_counts().head(3).to_dict() if var in df_2012_clean.columns else 'N/A'}")
        print(f"  2022: {df_2022_clean[var].value_counts().head(3).to_dict()}")

 Applied cleaning to 34 variables across all years
 Converted 12 variables to ordered categorical

================================================================================
SAMPLE OF CLEANED DATA
================================================================================

TOPBOT:
  2002: {5.0: 6270, 6.0: 6125, 7.0: 4077}
  2012: {5.0: 14677, 6.0: 10766, 7.0: 8080}
  2022: {5.0: 10932, 6.0: 8891, 7.0: 7294}

SPWRKHRS:
  2002: {40.0: 5034, 50.0: 1285, 48.0: 1087}
  2012: {40.0: 6698, 50.0: 1735, 45.0: 1450}
  2022: {40.0: 5852, 50.0: 1358, 45.0: 1050}

LIVWOMAR:
  2002: {'Agree': 17856, 'Strongly agree': 11321, 'Disagree': 7154}
  2012: {'Agree': 19334, 'Strongly agree': 12071, 'Disagree': 11740}
  2022: {'Strongly agree': 15414, 'Agree': 14343, 'Neither agree nor disagree': 6579}

WWYKS:
  2002: {'Work part-time': 23770, 'Work full-time': 12451, 'Stay at home': 6377}
  2012: {'Work part-time': 24981, 'Work full-time': 24783, 'Stay at home': 5960}
  2022: {'Work full-time': 21289, 'Work part-time': 16511, 'Stay at home': 2766}

SP_DEGREE:
  2002: {'Upper secondary': 9193, 'Tertiary (Bachelor level)': 5139, 'Primary': 4372}
  2012: {'Upper secondary': 10319, 'Lower secondary': 7419, 'Tertiary (Bachelor level)': 4809}
  2022: {'Upper secondary': 9449, 'Tertiary (Bachelor level)': 6565, 'Tertiary (Master level)': 3321}

FAM_DIF:
  2002: {'NAP': 19342, 'Never': 10780, 'Once or twice': 8010}
  2012: {'NAP': 25995, 'Never': 14269, 'Once or twice': 9442}
  2022: {'NAP': 15837, 'Never': 10859, 'Once or twice': 8170}

SHARE_HH:
  2002: {'NAP': 17261, 'Fair share': 13163, 'Much more than fair share': 4983}
  2012: {'NAP': 23547, 'Fair share': 15509, 'Much more than fair share': 7128}
  2022: {'NAP': 18829, 'Fair share': 11795, 'Bit more than fair share': 5090}

DIV_HH_COOK:
  2002: {'NAP': 16528, 'Always respondent': 8380, 'About equal': 5981}
  2012: {'NAP': 22717, 'Always respondent': 9935, 'About equal': 7564}
  2022: {'NAP': 18496, 'About equal': 6598, 'Usually respondent': 6402}

LIFE_HAP:
  2002: {'Fairly happy': 18972, 'Very happy': 14301, 'Neither happy nor unhappy': 5930}
  2012: {'Fairly happy': 24441, 'Very happy': 17829, 'Neither happy nor unhappy': 8373}
  2022: {'Fairly happy': 18416, 'Very happy': 12618, 'Neither happy nor unhappy': 6615}

COHAB:
  2002: {'No partner': 15408, 'Partner, same household': 3806}
  2012: {'Partner, same household': 38812, 'No partner': 18026}
  2022: {'Partner, same household': 30403, 'No partner': 14813}

## Save Cleaned Data

All variables have been cleaned and standardized across years. Now saving to CSV files.

In [193]:
# Save cleaned dataframes to CSV
df_2002_clean.to_csv("../clean_csv/2002_clean.csv", index=False)
df_2012_clean.to_csv("../clean_csv/2012_clean.csv", index=False)
df_2022_clean.to_csv("../clean_csv/2022_clean.csv", index=False)

print(" Saved all cleaned dataframes to ../clean_csv/")
print(f"\n2002: {df_2002_clean.shape}")
print(f"2012: {df_2012_clean.shape}")
print(f"2022: {df_2022_clean.shape}")

 Saved all cleaned dataframes to ../clean_csv/

2002: (46638, 69)
2012: (61754, 69)
2022: (45762, 69)

## Verify Data Consistency Across Years

Check that cleaned variables have consistent values across all three years.

In [194]:
# Verification: Check consistency of cleaned variables across years
print("="*80)
print("VERIFICATION OF DATA CONSISTENCY")
print("="*80)

# Variables to verify (sample from each type)
verify_vars = [
    'TOPBOT', 'SPWRKHRS', 'SP_HH_FAM', 'SP_HH', 'HH_FAM',
    'WWYKS', 'WWYKUS', 'SP_DEGREE', 'MOMORFAF',
    'HHTODD', 'HHCHILDR', 'HHADULT', 'HOMPOP',
    'LIVWOMAR', 'MEWH', 'HW_FULFIL', 'WO_WANT', 
    'WW_FAM_SUFFER', 'WW_CHILD_SUFFER', 'WW_WARM',
    'FAM_DIF', 'DIFF_CONC_WORK', 'HH_TIRED', 'WORK_TIRED',
    'SHARE_HH', 'DIV_HH_COOK', 'DIV_HH_CLEAN', 'DIV_HH_GROC',
    'DIV_HH_CARE', 'DIV_HH_LAUND', 'HH_WEEKEND',
    'LIFE_HAP', 'COHAB', 'C_ALPHAN'
]

dfs_dict = {
    2002: df_2002_clean,
    2012: df_2012_clean,
    2022: df_2022_clean
}

consistency_report = []

for var in verify_vars:
    # Check if variable exists in at least one df
    exists_in = [year for year, df in dfs_dict.items() if var in df.columns]
    
    if not exists_in:
        continue
    
    print(f"\n{'='*80}")
    print(f"{var}")
    print(f"{'='*80}")
    print(f"Available in years: {exists_in}")
    
    # Get unique values from each year
    for year in [2002, 2012, 2022]:
        df = dfs_dict[year]
        if var in df.columns:
            unique_vals = df[var].dropna().unique()
            
            # For categorical, show categories
            if hasattr(df[var], 'cat'):
                print(f"\n{year} (categorical): {df[var].cat.categories.tolist()}")
                print(f"  Non-null count: {df[var].notna().sum()}")
            else:
                # Show sample of unique values
                if len(unique_vals) <= 10:
                    print(f"\n{year}: {sorted(unique_vals)}")
                else:
                    print(f"\n{year}: {len(unique_vals)} unique values")
                    print(f"  Sample: {sorted(unique_vals)[:5]}")
                print(f"  Non-null count: {df[var].notna().sum()}")
        else:
            print(f"\n{year}: Not available")
    
    # Check consistency
    all_values = []
    for year, df in dfs_dict.items():
        if var in df.columns:
            if hasattr(df[var], 'cat'):
                all_values.extend(df[var].cat.categories.tolist())
            else:
                all_values.extend(df[var].dropna().unique().tolist())
    
    unique_across_years = len(set(str(v) for v in all_values))
    
    # Determine if consistent
    is_consistent = True
    if len(exists_in) > 1:
        # Compare value types across years
        value_sets = []
        for year, df in dfs_dict.items():
            if var in df.columns:
                if hasattr(df[var], 'cat'):
                    value_sets.append(set(df[var].cat.categories.tolist()))
                else:
                    vals = df[var].dropna().unique()
                    value_sets.append(set(str(v) for v in vals))
        
        if len(value_sets) > 1:
            # Check if there's significant overlap or if they're all numeric
            if all(df[var].dtype in ['int64', 'float64'] for year, df in dfs_dict.items() if var in df.columns):
                is_consistent = True  # Numeric variables are consistent
            elif len(value_sets[0]) > 0:
                # For categorical, check if categories are similar
                all_cats = set()
                for vs in value_sets:
                    all_cats.update(vs)
                # If all years share same categories, consistent
                is_consistent = all(vs == value_sets[0] for vs in value_sets)
    
    status = " CONSISTENT" if is_consistent else " CHECK NEEDED"
    print(f"\nStatus: {status}")
    consistency_report.append((var, status, exists_in))

print("\n" + "="*80)
print("SUMMARY")
print("="*80)
consistent_count = sum(1 for _, status, _ in consistency_report if "CONSISTENT" in status)
print(f"Total variables checked: {len(consistency_report)}")
print(f"Consistent: {consistent_count}")
print(f"Need review: {len(consistency_report) - consistent_count}")

================================================================================
VERIFICATION OF DATA CONSISTENCY
================================================================================

================================================================================
TOPBOT
================================================================================
Available in years: [2002, 2012, 2022]

2002: [np.float64(1.0), np.float64(2.0), np.float64(3.0), np.float64(4.0), np.float64(5.0), np.float64(6.0), np.float64(7.0), np.float64(8.0), np.float64(9.0), np.float64(10.0)]
  Non-null count: 26626

2012: [np.float64(1.0), np.float64(2.0), np.float64(3.0), np.float64(4.0), np.float64(5.0), np.float64(6.0), np.float64(7.0), np.float64(8.0), np.float64(9.0), np.float64(10.0)]
  Non-null count: 56907

2022: [np.float64(1.0), np.float64(2.0), np.float64(3.0), np.float64(4.0), np.float64(5.0), np.float64(6.0), np.float64(7.0), np.float64(8.0), np.float64(9.0), np.float64(10.0)]
  Non-null count: 42193

Status:  CONSISTENT

================================================================================
SPWRKHRS
================================================================================
Available in years: [2002, 2012, 2022]

2002: 88 unique values
  Sample: [np.float64(1.0), np.float64(2.0), np.float64(3.0), np.float64(4.0), np.float64(5.0)]
  Non-null count: 17534

2012: 93 unique values
  Sample: [np.float64(1.0), np.float64(2.0), np.float64(3.0), np.float64(4.0), np.float64(5.0)]
  Non-null count: 22283

2022: 84 unique values
  Sample: [np.float64(1.0), np.float64(2.0), np.float64(3.0), np.float64(4.0), np.float64(5.0)]
  Non-null count: 17638

Status:  CONSISTENT

================================================================================
SP_HH_FAM
================================================================================
Available in years: [2002, 2012, 2022]

2002: []
  Non-null count: 0

2012: 90 unique values
  Sample: [np.float64(0.0), np.float64(1.0), np.float64(2.0), np.float64(3.0), np.float64(4.0)]
  Non-null count: 36016

2022: 86 unique values
  Sample: [np.float64(0.0), np.float64(1.0), np.float64(2.0), np.float64(3.0), np.float64(4.0)]
  Non-null count: 25256

Status:  CONSISTENT

================================================================================
SP_HH
================================================================================
Available in years: [2002, 2012, 2022]

2002: 82 unique values
  Sample: [np.float64(0.0), np.float64(1.0), np.float64(2.0), np.float64(3.0), np.float64(4.0)]
  Non-null count: 28212

2012: 85 unique values
  Sample: [np.float64(0.0), np.float64(1.0), np.float64(2.0), np.float64(3.0), np.float64(4.0)]
  Non-null count: 37069

2022: 78 unique values
  Sample: [np.float64(0.0), np.float64(1.0), np.float64(2.0), np.float64(3.0), np.float64(4.0)]
  Non-null count: 26091

Status:  CONSISTENT

================================================================================
HH_FAM
================================================================================
Available in years: [2002, 2012, 2022]

2002: []
  Non-null count: 0

2012: 92 unique values
  Sample: [np.float64(0.0), np.float64(1.0), np.float64(2.0), np.float64(3.0), np.float64(4.0)]
  Non-null count: 57019

2022: 94 unique values
  Sample: [np.float64(0.0), np.float64(1.0), np.float64(2.0), np.float64(3.0), np.float64(4.0)]
  Non-null count: 42009

Status:  CONSISTENT

================================================================================
WWYKS
================================================================================
Available in years: [2002, 2012, 2022]

2002: ['Stay at home', 'Women should decide', 'Work full-time', 'Work part-time']
  Non-null count: 43042

2012: ['Stay at home', 'Women should decide', 'Work full-time', 'Work part-time']
  Non-null count: 56248

2022: ['Stay at home', 'Women should decide', 'Work full-time', 'Work part-time']
  Non-null count: 40630

Status:  CONSISTENT

================================================================================
WWYKUS
================================================================================
Available in years: [2002, 2012, 2022]

2002: ['Stay at home', 'Women should decide', 'Work full-time', 'Work part-time']
  Non-null count: 43065

2012: ['Stay at home', 'Women should decide', 'Work full-time', 'Work part-time']
  Non-null count: 56134

2022: ['Stay at home', 'Women should decide', 'Work full-time', 'Work part-time']
  Non-null count: 40414

Status:  CONSISTENT

================================================================================
SP_DEGREE
================================================================================
Available in years: [2002, 2012, 2022]

2002: ['No formal education', 'Primary', 'Tertiary (Bachelor level)', 'Tertiary (Master level)', 'Upper secondary']
  Non-null count: 24169

2012: ['Lower secondary', 'No formal education', 'Primary', 'Tertiary (Bachelor level)', 'Tertiary (Master level)', 'Upper secondary']
  Non-null count: 31572

2022: ['Lower secondary', 'No formal education', 'Post secondary', 'Primary', 'Tertiary (Bachelor level)', 'Tertiary (Doctoral level)', 'Tertiary (Master level)', 'Upper secondary']
  Non-null count: 26060

Status:  CHECK NEEDED

================================================================================
MOMORFAF
================================================================================
Available in years: [2002, 2012, 2022]

2002: ['Equally suited', 'Fathers much better', 'Mothers somewhat better']
  Non-null count: 43605

2012: []
  Non-null count: 0

2022: ['Equally suited', 'Fathers much better', 'Fathers somewhat better', 'Mothers much better', 'Mothers somewhat better']
  Non-null count: 44744

Status:  CHECK NEEDED

================================================================================
HHTODD
================================================================================
Available in years: [2002, 2012, 2022]

2002: [np.float64(1.0), np.float64(2.0), np.float64(3.0), np.float64(4.0), np.float64(5.0), np.float64(6.0), np.float64(7.0), np.float64(8.0), np.float64(9.0)]
  Non-null count: 7207

2012: 11 unique values
  Sample: [np.float64(0.0), np.float64(1.0), np.float64(2.0), np.float64(3.0), np.float64(4.0)]
  Non-null count: 58959

2022: [np.float64(0.0), np.float64(1.0), np.float64(2.0), np.float64(3.0), np.float64(4.0), np.float64(5.0), np.float64(6.0), np.float64(7.0)]
  Non-null count: 41701

Status:  CONSISTENT

================================================================================
HHCHILDR
================================================================================
Available in years: [2002, 2012, 2022]

2002: [np.float64(1.0), np.float64(2.0), np.float64(3.0), np.float64(4.0), np.float64(5.0), np.float64(6.0), np.float64(7.0), np.float64(8.0), np.float64(9.0), np.float64(10.0)]
  Non-null count: 13917

2012: 17 unique values
  Sample: [np.float64(0.0), np.float64(1.0), np.float64(2.0), np.float64(3.0), np.float64(4.0)]
  Non-null count: 58988

2022: [np.float64(0.0), np.float64(1.0), np.float64(2.0), np.float64(3.0), np.float64(4.0), np.float64(5.0), np.float64(6.0), np.float64(7.0), np.float64(8.0), np.float64(9.0)]
  Non-null count: 43473

Status:  CONSISTENT

================================================================================
HHADULT
================================================================================
Available in years: [2002, 2012, 2022]

2002: 15 unique values
  Sample: [np.float64(1.0), np.float64(2.0), np.float64(3.0), np.float64(4.0), np.float64(5.0)]
  Non-null count: 42583

2012: []
  Non-null count: 0

2022: 17 unique values
  Sample: [np.float64(0.0), np.float64(1.0), np.float64(2.0), np.float64(3.0), np.float64(4.0)]
  Non-null count: 44242

Status:  CHECK NEEDED

================================================================================
HOMPOP
================================================================================
Available in years: [2002, 2012, 2022]

2002: 23 unique values
  Sample: [np.float64(1.0), np.float64(2.0), np.float64(3.0), np.float64(4.0), np.float64(5.0)]
  Non-null count: 46202

2012: 30 unique values
  Sample: [np.float64(1.0), np.float64(2.0), np.float64(3.0), np.float64(4.0), np.float64(5.0)]
  Non-null count: 58990

2022: 21 unique values
  Sample: [np.float64(1.0), np.float64(2.0), np.float64(3.0), np.float64(4.0), np.float64(5.0)]
  Non-null count: 44836

Status:  CONSISTENT

================================================================================
LIVWOMAR
================================================================================
Available in years: [2002, 2012, 2022]

2002: ['Agree', 'Disagree', 'Neither agree nor disagree', 'Strongly agree', 'Strongly disagree']
  Non-null count: 45270

2012: ['Agree', 'Disagree', 'Neither agree nor disagree', 'Strongly agree', 'Strongly disagree']
  Non-null count: 57817

2022: ['Agree', 'Disagree', 'Neither agree nor disagree', 'Strongly agree', 'Strongly disagree']
  Non-null count: 44905

Status:  CONSISTENT

================================================================================
MEWH
================================================================================
Available in years: [2002, 2012, 2022]

2002: ['Agree', 'Disagree', 'Neither agree nor disagree', 'Strongly agree', 'Strongly disagree']
  Non-null count: 45475

2012: ['Agree', 'Disagree', 'Neither agree nor disagree', 'Strongly agree', 'Strongly disagree']
  Non-null count: 58078

2022: ['Agree', 'Disagree', 'Neither agree nor disagree', 'Strongly agree', 'Strongly disagree']
  Non-null count: 45045

Status:  CONSISTENT

================================================================================
HW_FULFIL
================================================================================
Available in years: [2002, 2012, 2022]

2002: ['Agree', 'Disagree', 'Neither agree nor disagree', 'Strongly agree', 'Strongly disagree']
  Non-null count: 43720

2012: ['Agree', 'Disagree', 'Neither agree nor disagree', 'Strongly agree', 'Strongly disagree']
  Non-null count: 55612

2022: ['Agree', 'Disagree', 'Neither agree nor disagree', 'Strongly agree', 'Strongly disagree']
  Non-null count: 43029

Status:  CONSISTENT

================================================================================
WO_WANT
================================================================================
Available in years: [2002, 2012, 2022]

2002: ['Agree', 'Disagree', 'Neither agree nor disagree', 'Strongly agree', 'Strongly disagree']
  Non-null count: 44089

2012: ['Agree', 'Disagree', 'Neither agree nor disagree', 'Strongly agree', 'Strongly disagree']
  Non-null count: 56379

2022: ['Agree', 'Disagree', 'Neither agree nor disagree', 'Strongly agree', 'Strongly disagree']
  Non-null count: 43742

Status:  CONSISTENT

================================================================================
WW_FAM_SUFFER
================================================================================
Available in years: [2002, 2012, 2022]

2002: ['Agree', 'Disagree', 'Neither agree nor disagree', 'Strongly agree', 'Strongly disagree']
  Non-null count: 45120

2012: ['Agree', 'Disagree', 'Neither agree nor disagree', 'Strongly agree', 'Strongly disagree']
  Non-null count: 57631

2022: ['Agree', 'Disagree', 'Neither agree nor disagree', 'Strongly agree', 'Strongly disagree']
  Non-null count: 44784

Status:  CONSISTENT

================================================================================
WW_CHILD_SUFFER
================================================================================
Available in years: [2002, 2012, 2022]

2002: ['Agree', 'Disagree', 'Neither agree nor disagree', 'Strongly agree', 'Strongly disagree']
  Non-null count: 45028

2012: ['Agree', 'Disagree', 'Neither agree nor disagree', 'Strongly agree', 'Strongly disagree']
  Non-null count: 57551

2022: ['Agree', 'Disagree', 'Neither agree nor disagree', 'Strongly agree', 'Strongly disagree']
  Non-null count: 44626

Status:  CONSISTENT

================================================================================
WW_WARM
================================================================================
Available in years: [2002, 2012, 2022]

2002: ['Agree', 'Disagree', 'Neither agree nor disagree', 'Strongly agree', 'Strongly disagree']
  Non-null count: 45484

2012: ['Agree', 'Disagree', 'Neither agree nor disagree', 'Strongly agree', 'Strongly disagree']
  Non-null count: 57860

2022: ['Agree', 'Disagree', 'Neither agree nor disagree', 'Strongly agree', 'Strongly disagree']
  Non-null count: 45008

Status:  CONSISTENT

================================================================================
FAM_DIF
================================================================================
Available in years: [2002, 2012, 2022]

2002 (categorical): ['Several times a week', 'Several times a month', 'Once or twice', 'Never', 'NAP']
  Non-null count: 46638

2012 (categorical): ['Several times a week', 'Several times a month', 'Once or twice', 'Never', 'NAP']
  Non-null count: 61754

2022 (categorical): ['Several times a week', 'Several times a month', 'Once or twice', 'Never', 'NAP']
  Non-null count: 45762

Status:  CONSISTENT

================================================================================
DIFF_CONC_WORK
================================================================================
Available in years: [2002, 2012, 2022]

2002 (categorical): ['Several times a week', 'Several times a month', 'Once or twice', 'Never', 'NAP']
  Non-null count: 46638

2012 (categorical): ['Several times a week', 'Several times a month', 'Once or twice', 'Never', 'NAP']
  Non-null count: 61754

2022 (categorical): ['Several times a week', 'Several times a month', 'Once or twice', 'Never', 'NAP']
  Non-null count: 45762

Status:  CONSISTENT

================================================================================
HH_TIRED
================================================================================
Available in years: [2002, 2012, 2022]

2002 (categorical): ['Several times a week', 'Several times a month', 'Once or twice', 'Never', 'NAP']
  Non-null count: 46638

2012 (categorical): ['Several times a week', 'Several times a month', 'Once or twice', 'Never', 'NAP']
  Non-null count: 61754

2022 (categorical): ['Several times a week', 'Several times a month', 'Once or twice', 'Never', 'NAP']
  Non-null count: 45762

Status:  CONSISTENT

================================================================================
WORK_TIRED
================================================================================
Available in years: [2002, 2012, 2022]

2002 (categorical): ['Several times a week', 'Several times a month', 'Once or twice', 'Never', 'NAP']
  Non-null count: 46638

2012 (categorical): ['Several times a week', 'Several times a month', 'Once or twice', 'Never', 'NAP']
  Non-null count: 61754

2022 (categorical): ['Several times a week', 'Several times a month', 'Once or twice', 'Never', 'NAP']
  Non-null count: 45762

Status:  CONSISTENT

================================================================================
SHARE_HH
================================================================================
Available in years: [2002, 2012, 2022]

2002 (categorical): ['Much more than fair share', 'Bit more than fair share', 'Fair share', 'Bit less than fair share', 'Much less than fair share', 'NAP']
  Non-null count: 46638

2012 (categorical): ['Much more than fair share', 'Bit more than fair share', 'Fair share', 'Bit less than fair share', 'Much less than fair share', 'NAP']
  Non-null count: 61754

2022 (categorical): ['Much more than fair share', 'Bit more than fair share', 'Fair share', 'Bit less than fair share', 'Much less than fair share', 'NAP']
  Non-null count: 45762

Status:  CONSISTENT

================================================================================
DIV_HH_COOK
================================================================================
Available in years: [2002, 2012, 2022]

2002 (categorical): ['Always respondent', 'Usually respondent', 'About equal', 'Usually partner', 'Always partner', 'Third person', 'NAP']
  Non-null count: 46638

2012 (categorical): ['Always respondent', 'Usually respondent', 'About equal', 'Usually partner', 'Always partner', 'Third person', 'NAP']
  Non-null count: 61754

2022 (categorical): ['Always respondent', 'Usually respondent', 'About equal', 'Usually partner', 'Always partner', 'Third person', 'NAP']
  Non-null count: 45762

Status:  CONSISTENT

================================================================================
DIV_HH_CLEAN
================================================================================
Available in years: [2002, 2012, 2022]

2002 (categorical): ['Always respondent', 'Usually respondent', 'About equal', 'Usually partner', 'Always partner', 'Third person', 'NAP']
  Non-null count: 46638

2012 (categorical): ['Always respondent', 'Usually respondent', 'About equal', 'Usually partner', 'Always partner', 'Third person', 'NAP']
  Non-null count: 61754

2022 (categorical): ['Always respondent', 'Usually respondent', 'About equal', 'Usually partner', 'Always partner', 'Third person', 'NAP']
  Non-null count: 45762

Status:  CONSISTENT

================================================================================
DIV_HH_GROC
================================================================================
Available in years: [2002, 2012, 2022]

2002 (categorical): ['Always respondent', 'Usually respondent', 'About equal', 'Usually partner', 'Always partner', 'Third person', 'NAP']
  Non-null count: 46638

2012 (categorical): ['Always respondent', 'Usually respondent', 'About equal', 'Usually partner', 'Always partner', 'Third person', 'NAP']
  Non-null count: 61754

2022 (categorical): ['Always respondent', 'Usually respondent', 'About equal', 'Usually partner', 'Always partner', 'Third person', 'NAP']
  Non-null count: 45762

Status:  CONSISTENT

================================================================================
DIV_HH_CARE
================================================================================
Available in years: [2002, 2012, 2022]

2002 (categorical): ['Always respondent', 'Usually respondent', 'About equal', 'Usually partner', 'Always partner', 'Third person', 'NAP']
  Non-null count: 46638

2012 (categorical): ['Always respondent', 'Usually respondent', 'About equal', 'Usually partner', 'Always partner', 'Third person', 'NAP']
  Non-null count: 61754

2022 (categorical): ['Always respondent', 'Usually respondent', 'About equal', 'Usually partner', 'Always partner', 'Third person', 'NAP']
  Non-null count: 45762

Status:  CONSISTENT

================================================================================
DIV_HH_LAUND
================================================================================
Available in years: [2002, 2012, 2022]

2002 (categorical): ['Always respondent', 'Usually respondent', 'About equal', 'Usually partner', 'Always partner', 'Third person', 'NAP']
  Non-null count: 46638

2012 (categorical): ['Always respondent', 'Usually respondent', 'About equal', 'Usually partner', 'Always partner', 'Third person', 'NAP']
  Non-null count: 61754

2022 (categorical): ['Always respondent', 'Usually respondent', 'About equal', 'Usually partner', 'Always partner', 'Third person', 'NAP']
  Non-null count: 45762

Status:  CONSISTENT

================================================================================
HH_WEEKEND
================================================================================
Available in years: [2002, 2012, 2022]

2002 (categorical): ['Always respondent', 'Usually respondent', 'About equal', 'Usually partner', 'Always partner', 'Third person', 'NAP']
  Non-null count: 46638
