In [2]:
import pandas as pd
import plotly.graph_objects as go
import plotly.io as pio
import numpy as np
import seaborn as sns
import plotly.express as px
import matplotlib.ticker as mtick
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [3]:
df_2002_clean = pd.read_csv("../data/final_csv/2002_final.csv")
df_2012_clean = pd.read_csv("../data/final_csv/2012_final.csv")
df_2022_clean = pd.read_csv("../data/final_csv/2022_final.csv")

In [4]:
df_2002_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46638 entries, 0 to 46637
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   v4_egal                 45484 non-null  float64
 1   v5_egal                 45028 non-null  float64
 2   v6_egal                 45120 non-null  float64
 3   v7_egal                 44089 non-null  float64
 4   v8_egal                 43720 non-null  float64
 5   v11_egal                45475 non-null  float64
 6   v4_egal_z               45484 non-null  float64
 7   v5_egal_z               45028 non-null  float64
 8   v6_egal_z               45120 non-null  float64
 9   v7_egal_z               44089 non-null  float64
 10  v8_egal_z               43720 non-null  float64
 11  v11_egal_z              45475 non-null  float64
 12  eg_score                46382 non-null  float64
 13  sex                     46595 non-null  object
 14  hh_wrk_hrs              30023 non-null  float64
 15  wrk_hrs                 27005 non-null  float64
 16  country                 46638 non-null  object
 17  age                     46476 non-null  float64
 18  age_bin                 46476 non-null  object
 19  high_egal               46638 non-null  bool
 20  low_housework           46638 non-null  bool
 21  highest_education       46118 non-null  object
 22  educ_4                  46118 non-null  float64
 23  educ_4_label            46118 non-null  object
 24  code_income_control     29454 non-null  object
 25  code_higher_income      29156 non-null  object
 26  marital                 46257 non-null  object
 27  work_status_std         46638 non-null  object
 28  spouse_work_status_std  46638 non-null  object
 29  work_status             46638 non-null  object
 30  spouse_work_status      46638 non-null  object
 31  urban_rural             39708 non-null  object
dtypes: bool(2), float64(17), object(13)
memory usage: 10.8+ MB

In [ ]:
df_2002_clean["spouse_work_status_std"].unique()

array(['Paid work', 'Unemployed', 'Retired', 'Domestic work', 'Other',
       'Education', 'DK/No answer', 'Sick/Disabled'], dtype=object)

In [10]:
df_2002_clean["work_status"].unique()

array(['Paid work', 'Unemployed', 'Retired', 'Domestic work', 'Other',
       'Education', 'DK/No answer', 'Sick/Disabled'], dtype=object)