In [2]:
import pandas as pd
import plotly.graph_objects as go
import plotly.io as pio
import numpy as np
import seaborn as sns
import plotly.express as px
import matplotlib.ticker as mtick
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [12]:
df_2002_clean = pd.read_csv("../data/final_csv/2002_final.csv")
df_2012_clean = pd.read_csv("../data/final_csv/2012_final.csv")
df_2022_clean = pd.read_csv("../data/final_csv/2022_final.csv")

In [19]:
df_2012_clean["work_status"].unique()

array(['Paid work', 'Unemployed', 'Education', 'Domestic work', 'Retired',
       'Sick/Disabled', 'Other', 'DK/No answer', 'Apprentice/Trainee',
       'Military/Community service'], dtype=object)

In [ ]:
df_2002_clean["spouse_work_status_std"].unique()

array(['Paid work', 'Unemployed', 'Retired', 'Domestic work', 'Other',
       'Education', 'DK/No answer', 'Sick/Disabled'], dtype=object)

In [10]:
df_2002_clean["work_status"].unique()

array(['Paid work', 'Unemployed', 'Retired', 'Domestic work', 'Other',
       'Education', 'DK/No answer', 'Sick/Disabled'], dtype=object)

In [14]:
str_1 = """
urban_rural
['Urban' 'Town' 'Rural' nan]
spouse_work_status
['Retired' 'Paid work' 'Domestic work' 'DK/No answer' 'Other' 'Unemployed'
 'Education' 'Help family member' 'Sick/Disabled']
sex
['Female' 'Male' nan]
code_higher_income
['Respondent has higher income' nan 'Same income'
 'Partner has higher income' 'Partner has no income'
 'Respondent has no income']
code_income_control
[nan 'Financial control is shared'
 'Financial control is with the respondent'
 'Financial control is separate' 'Financial control is with the partner']
hh_wrk_hrs
[30.  5. 16. 28. 12. 10. 20. 26.  8. 35.  3. 23. 50. 14.  7. 18.  4. nan
  6.  9. 15. 40.  2. 25. 21. 39. 60. 24. 11. 56. 37. 22. 70. 17. 45. 65.
 38. 31. 27. 32.  0. 36. 42. 48. 49. 46. 52. 13. 55.  1. 29. 19. 90. 84.
 80. 72. 34. 51. 54. 95. 85. 47. 58. 78. 33. 44. 75. 43. 82. 63. 86. 59.
 64. 41. 68. 62. 74. 87. 77. 94. 67. 66. 57. 71. 88. 76. 91.]
work_status
['Paid work' 'Unemployed' 'Retired' 'Domestic work' 'Other' 'Education'
 'DK/No answer' 'Sick/Disabled']
marital
['Married' nan 'Single' 'Divorced' 'Separated' 'Widowed']
wrk_hrs
[30. nan  8. 50. 40. 15. 27.  6. 16. 28. 46. 58. 38. 18. 20. 56. 45. 10.
 55. 35. 32. 24. 23. 48. 36. 26. 60. 52. 42. 12. 22. 25. 14.  3. 73. 37.
 33. 41. 21.  5. 39. 31. 70. 72. 65. 44. 76. 19. 64. 13. 75. 80. 54.  4.
 43. 63.  7. 17. 96. 53. 47. 85. 34. 57. 90. 66. 68. 51. 87. 11. 82. 95.
 49. 84. 59. 29.  9. 62. 89. 61. 86. 83.  1. 78.  2. 88. 69. 67. 77. 91.
 71. 79. 94. 81. 74.]
educ_4_label
['Post-sec / Short tertiary' 'University+' 'Secondary' 'No/Primary' nan]
age
[46. 40. 68. 69. 44. 49. 48. 47. 67. 62. 58. 37. 39. 51. 55. 23. 52. 71.
 54. 42. 32. 35. 59. 60. 50. 27. 56. 33. 64. 53. 34. 43. 38. nan 65. 31.
 29. 57. 22. 74. 41. 25. 28. 73. 70. 63. 61. 45. 36. 19. 20. 30. 66. 24.
 26. 18. 21. 81. 72. 75. 78. 76. 79. 80. 77. 82. 87. 85. 89. 86. 84. 83.
 88. 91. 92. 90. 94. 96. 17. 16. 93. 15.]
urban_rural
['Town' 'Rural' 'Urban' nan 'Suburban']
spouse_work_status
['Paid work' 'NAP' 'Domestic work' 'DK/No answer' 'Retired'
 'Sick/Disabled' 'Unemployed' 'Education' 'Other'
 'Military/Community service' 'Apprentice/Trainee']
sex
['Male' 'Female' 'No answer']
code_higher_income
[nan 'Respondent has no income' 'Partner has no income'
 'Respondent has higher income' 'Partner has higher income']
code_income_control
['Financial control is with the partner' 'Financial control is shared' nan
 'Financial control is separate'
 'Financial control is with the respondent']
hh_wrk_hrs
[ 7. 84. 24. 21. 20.  0. 56. 22. 40. 14. 30. 35. 28.  6. 42.  3. 10. 36.
 38.  2.  4. 12. 50. 15. 70.  5. nan  1.  8. 18. 16. 11. 80. 48. 49. 75.
 25. 32. 45. 60. 94.  9. 90. 29. 65. 54. 72. 34. 39. 95. 23. 26. 13. 37.
 17. 31. 46. 77. 19. 58. 27. 67. 53. 55. 85. 63. 78. 52. 44. 68. 91. 43.
 33. 87. 47. 41. 51. 64. 57. 71. 66. 62. 82. 59. 76. 86. 92. 73. 93. 89.
 74.]
work_status
['Paid work' 'Unemployed' 'Education' 'Domestic work' 'Retired'
 'Sick/Disabled' 'Other' 'DK/No answer' 'Apprentice/Trainee'
 'Military/Community service']
marital
['Civil partnership' 'Single' 'Married' 'Divorced' 'Widowed' nan]
wrk_hrs
[60. 24. nan 36. 40. 48. 16. 72. 84. 30. 64. 45. 70. 50. 35. 25. 15. 12.
 71. 44. 56. 96. 21. 20.  9.  4. 14.  6. 10. 52. 80. 55. 28. 63. 43. 75.
  8. 89. 27. 90.  5. 42. 38. 54. 34. 66. 46. 78. 18. 85. 68. 51. 49. 76.
 53. 65. 13.  7. 47. 22. 32. 19. 23. 31. 41. 37. 26. 29. 58. 33. 17.  3.
 11. 86. 39. 59.  2. 74. 62. 94. 77. 91. 57. 81. 82. 67. 92. 88. 73.  1.
 87. 61. 69. 95.]
educ_4_label
['Secondary' 'No/Primary' 'Post-sec / Short tertiary' 'University+' nan]
age
[ 35.  24.  18.  61.  55.  53.  22.  39.  49.  28.  29.  31.  45.  59.
  54.  20.  64.  70.  76.  75.  32.  63.  62.  25.  26.  27.  21.  41.
  50.  57.  46.  48.  36.  74.  23.  34.  43.  47.  51.  33.  71.  81.
  52.  42.  82.  66.  38.  19.  40.  72.  60.  73.  69.  56.  37.  85.
  65.  79.  77.  78.  68.  84.  67.  30.  58.  86.  91.  87.  44.  83.
  80.  90.  92.  88.  nan  93.  89.  95.  94.  96.  17.  98. 102.  16.
  15.  97. 101.]
urban_rural
['Suburban' 'Town' 'Rural' 'Urban' nan]
spouse_work_status
['NAP' 'Paid work' 'Retired' 'DK/No answer' 'Domestic work' 'Education'
 'Sick/Disabled' 'Military/Community service' 'Other' 'Unemployed'
 'Apprentice/Trainee']
sex
['Female' 'Male' nan]
code_higher_income
[nan]
code_income_control
[nan 'Financial control is shared'
 'Financial control is with the respondent'
 'Financial control is separate' 'Financial control is with the partner']
hh_wrk_hrs
[18.  8.  3.  5. 10. 28.  4. 20.  6. 17. 32. 15.  7. 13.  2. 42. 14. 49.
 21. 12. 35. 60. 16.  9. 30.  1. 25.  0. 50. 34. 11. 40. 24. 26. 45. 22.
 nan 31. 71. 47. 19. 58. 95. 38. 39. 80. 85. 36. 70. 84. 90. 27. 48. 44.
 29. 23. 56. 37. 63. 46. 33. 72. 68. 64. 55. 65. 82. 59. 88. 66. 78. 73.
 62. 75. 54. 74. 52. 43. 76. 86. 67. 41. 53. 94. 91. 61. 83.]
work_status
['Paid work' 'Domestic work' 'Education' 'Unemployed' 'Retired'
 'Sick/Disabled' 'DK/No answer' 'Other' 'Apprentice/Trainee'
 'Military/Community service']
marital
['Divorced' 'Single' 'Married' 'Civil partnership' nan 'Widowed']
wrk_hrs
[35. 40. 20. 50. nan 30. 60. 38. 15. 45. 10. 78. 48.  2. 25. 32. 80. 36.
 16. 44. 70. 42. 39.  3. 27. 24. 46.  8. 28. 31. 22. 33. 12. 47. 55. 19.
 26. 13. 41.  7. 37.  5. 18. 65.  6. 11. 17. 23. 43. 95. 14. 21. 72. 34.
 52. 58.  9. 29.  4. 54. 56. 90. 84. 63. 75. 57. 96. 51.  1. 64. 92. 71.
 77. 81. 91. 83. 49. 86. 62. 66. 53. 68. 74. 76. 85. 59. 88. 67. 73. 82.
 61. 93. 89.]
educ_4_label
[nan 'Post-sec / Short tertiary' 'Secondary' 'University+' 'No/Primary']
age
[ 46.  59.  28.  60.  43.  65.  24.  33.  72.  29.  42.  55.  66.  26.
  76.  34.  63.  49.  27.  30.  54.  40.  74.  53.  73.  51.  35.  41.
  19.  45.  61.  71.  64.  62.  36.  68.  57.  56.  70.  47.  23.  52.
  69.  37.  77.  80.  20.  21.  39.  48.  38.  44.  22.  50.  79.  67.
  31.  58.  75.  25.  83.  32.  88.  18.  92.  84.  17.  82.  78.  81.
  89.  16.  86.  90.   9.  96.  93.  87.  91.  85.  94.  95.  98. 100.
  97.  99.  15.]
  """

In [15]:
str_2 = """
urban_rural
['Urban' 'Town' 'Rural' nan]
spouse_work_status
['Retired' 'Paid work' 'Domestic work' 'DK/No answer' 'Other' 'Unemployed'
 'Education' 'Help family member' 'Sick/Disabled']
sex
['Female' 'Male' nan]
code_higher_income
['Respondent has higher income' nan 'Same income'
 'Partner has higher income' 'Partner has no income'
 'Respondent has no income']
code_income_control
[nan 'Financial control is shared'
 'Financial control is with the respondent'
 'Financial control is separate' 'Financial control is with the partner']
hh_wrk_hrs
[30.  5. 16. 28. 12. 10. 20. 26.  8. 35.  3. 23. 50. 14.  7. 18.  4. nan
  6.  9. 15. 40.  2. 25. 21. 39. 60. 24. 11. 56. 37. 22. 70. 17. 45. 65.
 38. 31. 27. 32.  0. 36. 42. 48. 49. 46. 52. 13. 55.  1. 29. 19. 90. 84.
 80. 72. 34. 51. 54. 95. 85. 47. 58. 78. 33. 44. 75. 43. 82. 63. 86. 59.
 64. 41. 68. 62. 74. 87. 77. 94. 67. 66. 57. 71. 88. 76. 91.]
work_status
['Paid work' 'Unemployed' 'Retired' 'Domestic work' 'Other' 'Education'
 'DK/No answer' 'Sick/Disabled']
marital
['Married' nan 'Single' 'Divorced' 'Separated' 'Widowed']
wrk_hrs
[30. nan  8. 50. 40. 15. 27.  6. 16. 28. 46. 58. 38. 18. 20. 56. 45. 10.
 55. 35. 32. 24. 23. 48. 36. 26. 60. 52. 42. 12. 22. 25. 14.  3. 73. 37.
 33. 41. 21.  5. 39. 31. 70. 72. 65. 44. 76. 19. 64. 13. 75. 80. 54.  4.
 43. 63.  7. 17. 96. 53. 47. 85. 34. 57. 90. 66. 68. 51. 87. 11. 82. 95.
 49. 84. 59. 29.  9. 62. 89. 61. 86. 83.  1. 78.  2. 88. 69. 67. 77. 91.
 71. 79. 94. 81. 74.]
educ_4_label
['Post-sec / Short tertiary' 'University+' 'Secondary' 'No/Primary' nan]
age
[46. 40. 68. 69. 44. 49. 48. 47. 67. 62. 58. 37. 39. 51. 55. 23. 52. 71.
 54. 42. 32. 35. 59. 60. 50. 27. 56. 33. 64. 53. 34. 43. 38. nan 65. 31.
 29. 57. 22. 74. 41. 25. 28. 73. 70. 63. 61. 45. 36. 19. 20. 30. 66. 24.
 26. 18. 21. 81. 72. 75. 78. 76. 79. 80. 77. 82. 87. 85. 89. 86. 84. 83.
 88. 91. 92. 90. 94. 96. 17. 16. 93. 15.]
urban_rural
['Town' 'Rural' 'Urban' nan 'Suburban']
spouse_work_status
['Paid work' 'NAP' 'Domestic work' 'DK/No answer' 'Retired'
 'Sick/Disabled' 'Unemployed' 'Education' 'Other'
 'Military/Community service' 'Apprentice/Trainee']
sex
['Male' 'Female' 'No answer']
code_higher_income
[nan 'Respondent has no income' 'Partner has no income'
 'Respondent has higher income' 'Partner has higher income']
code_income_control
['Financial control is with the partner' 'Financial control is shared' nan
 'Financial control is separate'
 'Financial control is with the respondent']
hh_wrk_hrs
[ 7. 84. 24. 21. 20.  0. 56. 22. 40. 14. 30. 35. 28.  6. 42.  3. 10. 36.
 38.  2.  4. 12. 50. 15. 70.  5. nan  1.  8. 18. 16. 11. 80. 48. 49. 75.
 25. 32. 45. 60. 94.  9. 90. 29. 65. 54. 72. 34. 39. 95. 23. 26. 13. 37.
 17. 31. 46. 77. 19. 58. 27. 67. 53. 55. 85. 63. 78. 52. 44. 68. 91. 43.
 33. 87. 47. 41. 51. 64. 57. 71. 66. 62. 82. 59. 76. 86. 92. 73. 93. 89.
 74.]
work_status
['Paid work' 'Unemployed' 'Education' 'Domestic work' 'Retired'
 'Sick/Disabled' 'Other' 'DK/No answer' 'Apprentice/Trainee'
 'Military/Community service']
marital
['Civil partnership' 'Single' 'Married' 'Divorced' 'Widowed' nan]
wrk_hrs
[60. 24. nan 36. 40. 48. 16. 72. 84. 30. 64. 45. 70. 50. 35. 25. 15. 12.
 71. 44. 56. 96. 21. 20.  9.  4. 14.  6. 10. 52. 80. 55. 28. 63. 43. 75.
  8. 89. 27. 90.  5. 42. 38. 54. 34. 66. 46. 78. 18. 85. 68. 51. 49. 76.
 53. 65. 13.  7. 47. 22. 32. 19. 23. 31. 41. 37. 26. 29. 58. 33. 17.  3.
 11. 86. 39. 59.  2. 74. 62. 94. 77. 91. 57. 81. 82. 67. 92. 88. 73.  1.
 87. 61. 69. 95.]
educ_4_label
['Secondary' 'No/Primary' 'Post-sec / Short tertiary' 'University+' nan]
age
[ 35.  24.  18.  61.  55.  53.  22.  39.  49.  28.  29.  31.  45.  59.
  54.  20.  64.  70.  76.  75.  32.  63.  62.  25.  26.  27.  21.  41.
  50.  57.  46.  48.  36.  74.  23.  34.  43.  47.  51.  33.  71.  81.
  52.  42.  82.  66.  38.  19.  40.  72.  60.  73.  69.  56.  37.  85.
  65.  79.  77.  78.  68.  84.  67.  30.  58.  86.  91.  87.  44.  83.
  80.  90.  92.  88.  nan  93.  89.  95.  94.  96.  17.  98. 102.  16.
  15.  97. 101.]
urban_rural
['Suburban' 'Town' 'Rural' 'Urban' nan]
spouse_work_status
['NAP' 'Paid work' 'Retired' 'DK/No answer' 'Domestic work' 'Education'
 'Sick/Disabled' 'Military/Community service' 'Other' 'Unemployed'
 'Apprentice/Trainee']
sex
['Female' 'Male' nan]
code_higher_income
[nan]
code_income_control
[nan 'Financial control is shared'
 'Financial control is with the respondent'
 'Financial control is separate' 'Financial control is with the partner']
hh_wrk_hrs
[18.  8.  3.  5. 10. 28.  4. 20.  6. 17. 32. 15.  7. 13.  2. 42. 14. 49.
 21. 12. 35. 60. 16.  9. 30.  1. 25.  0. 50. 34. 11. 40. 24. 26. 45. 22.
 nan 31. 71. 47. 19. 58. 95. 38. 39. 80. 85. 36. 70. 84. 90. 27. 48. 44.
 29. 23. 56. 37. 63. 46. 33. 72. 68. 64. 55. 65. 82. 59. 88. 66. 78. 73.
 62. 75. 54. 74. 52. 43. 76. 86. 67. 41. 53. 94. 91. 61. 83.]
work_status
['Paid work' 'Domestic work' 'Education' 'Unemployed' 'Retired'
 'Sick/Disabled' 'DK/No answer' 'Other' 'Apprentice/Trainee'
 'Military/Community service']
marital
['Divorced' 'Single' 'Married' 'Civil partnership' nan 'Widowed']
wrk_hrs
[35. 40. 20. 50. nan 30. 60. 38. 15. 45. 10. 78. 48.  2. 25. 32. 80. 36.
 16. 44. 70. 42. 39.  3. 27. 24. 46.  8. 28. 31. 22. 33. 12. 47. 55. 19.
 26. 13. 41.  7. 37.  5. 18. 65.  6. 11. 17. 23. 43. 95. 14. 21. 72. 34.
 52. 58.  9. 29.  4. 54. 56. 90. 84. 63. 75. 57. 96. 51.  1. 64. 92. 71.
 77. 81. 91. 83. 49. 86. 62. 66. 53. 68. 74. 76. 85. 59. 88. 67. 73. 82.
 61. 93. 89.]
educ_4_label
[nan 'Post-sec / Short tertiary' 'Secondary' 'University+' 'No/Primary']
age
[ 46.  59.  28.  60.  43.  65.  24.  33.  72.  29.  42.  55.  66.  26.
  76.  34.  63.  49.  27.  30.  54.  40.  74.  53.  73.  51.  35.  41.
  19.  45.  61.  71.  64.  62.  36.  68.  57.  56.  70.  47.  23.  52.
  69.  37.  77.  80.  20.  21.  39.  48.  38.  44.  22.  50.  79.  67.
  31.  58.  75.  25.  83.  32.  88.  18.  92.  84.  17.  82.  78.  81.
  89.  16.  86.  90.   9.  96.  93.  87.  91.  85.  94.  95.  98. 100.
  97.  99.  15.]
"""

In [16]:
str_1 == str_2

False