In [1]:
import pandas as pd
import plotly.graph_objects as go
import plotly.io as pio
import numpy as np
import seaborn as sns
import plotly.express as px

In [5]:
df = pd.read_csv("../data/harmonized/issp_harmonized_2002_2012_2022.csv")

In [6]:
df.head()

,survey_year,country_code,country_alpha,respondent_id,att_warm_relationship,att_child_suffers,att_family_suffers,att_women_want_home,att_housewife_fulfilling,att_male_breadwinner,...,main_status,partner_work_status,partner_work_hours,partner_occupation,partner_main_status,partner_education,should_work_child_preschool,should_work_child_school,happiness,weight
0,2002,1.0,AU,1000001.0,4.0,2.0,2.0,3.0,3.0,3.0,...,NaN,7.0,NaN,8324.0,NaN,1.0,3.0,2.0,4.0,1.0
1,2002,1.0,AU,1000002.0,1.0,5.0,5.0,5.0,1.0,5.0,...,NaN,1.0,NaN,NaN,NaN,NaN,1.0,1.0,2.0,1.0
2,2002,1.0,AU,1000003.0,2.0,3.0,2.0,3.0,2.0,4.0,...,NaN,7.0,NaN,3221.0,NaN,4.0,3.0,2.0,3.0,1.0
3,2002,1.0,AU,1000004.0,4.0,2.0,1.0,4.0,4.0,4.0,...,NaN,7.0,NaN,1310.0,NaN,1.0,3.0,2.0,2.0,1.0
4,2002,1.0,AU,1000005.0,3.0,2.0,2.0,3.0,2.0,3.0,...,NaN,1.0,NaN,1239.0,NaN,4.0,2.0,2.0,2.0,1.0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142837 entries, 0 to 142836
Data columns (total 50 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   survey_year                  142837 non-null  int64
 1   country_code                 142837 non-null  float64
 2   country_alpha                142837 non-null  object
 3   respondent_id                142837 non-null  float64
 4   att_warm_relationship        140428 non-null  float64
 5   att_child_suffers            139559 non-null  float64
 6   att_family_suffers           137011 non-null  float64
 7   att_women_want_home          138197 non-null  float64
 8   att_housewife_fulfilling     137994 non-null  float64
 9   att_male_breadwinner         140964 non-null  float64
 10  hh_work_hours_respondent     123661 non-null  float64
 11  hh_work_hours_partner        123274 non-null  float64
 12  hh_family_hours_respondent   93595 non-null   float64
 13  hh_family_hours_partner      95120 non-null   float64
 14  task_laundry                 124981 non-null  float64
 15  task_small_repairs           77710 non-null   float64
 16  task_care_sick               118442 non-null  float64
 17  task_grocery                 123424 non-null  float64
 18  task_cleaning                119454 non-null  float64
 19  task_meals                   121860 non-null  float64
 20  task_fairness                120658 non-null  float64
 21  income_sharing               124074 non-null  float64
 22  social_planning              123050 non-null  float64
 23  conflict_tired_work          119427 non-null  float64
 24  conflict_difficult_family    121157 non-null  float64
 25  conflict_tired_household     120890 non-null  float64
 26  conflict_concentrate_work    118077 non-null  float64
 27  sex                          142697 non-null  float64
 28  age                          142375 non-null  float64
 29  birth_year                   95899 non-null   float64
 30  education_years              136581 non-null  float64
 31  education_level              141534 non-null  float64
 32  marital_status               141772 non-null  float64
 33  living_partnership           112263 non-null  float64
 34  household_size               141739 non-null  float64
 35  children_above_school        107958 non-null  float64
 36  children_below_school        97297 non-null   float64
 37  work_status                  140067 non-null  float64
 38  work_hours                   98673 non-null   float64
 39  occupation                   121629 non-null  float64
 40  main_status                  95238 non-null   float64
 41  partner_work_status          105963 non-null  float64
 42  partner_work_hours           77798 non-null   float64
 43  partner_occupation           93534 non-null   float64
 44  partner_main_status          77837 non-null   float64
 45  partner_education            94652 non-null   float64
 46  should_work_child_preschool  138019 non-null  float64
 47  should_work_child_school     137832 non-null  float64
 48  happiness                    138416 non-null  float64
 49  weight                       142837 non-null  float64
dtypes: float64(48), int64(1), object(1)
memory usage: 54.5+ MB

In [10]:
df["respondent_id"].max()

np.float64(2022710180699746.0)